.site_name{
    background:#fff;
    padding-right:6px;
}
.site_title{
    overflow:auto;
    margin-top:12px;
}
.site_left{
    float:left;
}
.site_img{
    margin-top:2px;
    clear:both;
}
.site_info{
    float:left;
    overflow:hidden;
    width:186px;
    margin-left:10px;
    margin-top:0;
    line-height:20px;
}
.site_avatar{
    width:54px;
    margin-top:3px;
    height:54px;
}
.site_info_no_img{
    margin-left:68px
}
.site_bio{
    color:#999;
    margin-top:4px;
    height:40px;
    padding-top:11px;
    margin-top:-11px;
    border-top:1px dotted #ccc;
}
.site_txt_a{
    height:32px;
    overflow:hidden;
    display:block;
}
.sitefav1 , .sitefav0, .sitefavtrue{
    display:inline-block;
    width:20px;
    height:16px;
    margin-top:2px;
    cursor:pointer;
    background:url(/img/png/star.png) #fff no-repeat 0 -16px;
    float:right;
    _margin-top:-17px;
}
.sitefav0:hover{
    background-position:0 0;
}
.sitefav1
{
    background-position:0 -32px;
}
.sitefav1:hover{
    background-position:0 -48px;
}
.sitefavtrue{
    background-position: 2px -77px;
}
.sitefavtrue:hover{
    background-position: 2px -63px;
}
.site_txt{
    overflow:hidden;
    float:left;
    width:260px;
    margin-left:12px;
}
.site_li{
    padding-bottom:18px;
}
.site_rec{
    margin-top:16px;
    margin-bottom:18px;
}
.com_wrap{
float:left;
width:722px;
}
.com_main{
width:666px;
padding-bottom:14px;
}
.com_side{
width:250px;
font-family:'Trebuchet MS',Helvetica,sans-serif;
margin-top:55px;
min-height:100px;
}
.H .site{
margin-left:-32px
}
.b1024 .H .site{
margin-left:-3px;
}
h1{
padding-left:30px;
font-size:16px;
font-weight:bold;
padding-bottom:27px;
text-align:left;
}
.tagtxt{
    display:inline;
    font-weight:normal;
    margin:0 0 0 14px;
    font-size:12px;
    color:#666;
}
#search{
font-size:13px;
width:206px;
padding-left:8px;
}
.search{
margin-top:30px;
}
#tagbar{
margin-top:27px;
margin-left:-7px;
margin-bottom:27px;
}
#tagbar .xa{
margin-left:7px;
padding:7px 14px;
}
#tagbar .xatxt .xa{
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFCFF',endColorstr='#f6f6ff');
background:-webkit-gradient(linear,0 0,0 100%,from(#FCFCFF),to(#f6f6ff));
background:-moz-linear-gradient(top,#FCFCFF,#f6f6ff);
}
.xa{
border:1px solid #e0e0e0;
box-shadow:0 1px 0 #FFFFFF inset, 0 1px 0 rgba(150, 150, 255, 0.1);
}
.xatagset span{  
background:url(/img/gif/tagset.gif) no-repeat 50% 50%;
vertical-align:-4px;
display:inline-block;
width:39px;
height:18px;
}
#tagbar .xatagset{
padding:7px; 8px 0 0;
}
.com_main .page{
padding-top:14px;
margin-bottom:5px;
}
.com_main .page a{
color:#999
}
.com_main .page .now{
background:#eee;
color:#999;
}
.com_main .page a:hover{
color:#333;
}
#read_loading{
padding:234px 0 220px;
margin:0;
}
.fdbar .aH{
height:14px;
}
.fdbar{
border-top:1px dotted #ccc;
margin-top:7px;
padding-top:14px;
margin-bottom:4px
}
/*
.readl .zname{
width:118px;
height:28px;
}
.reado{
height:28px;
width:520px;
}
*/
#main_nav_txt{
overflow:hidden;
box-shadow:0 1px 1px #f3f3f3;
}
.prebody a img
{
    display:block;
}
.buzz_win_book .sdw{
padding:0;
float:left;
width:120px;
margin-bottom:10px;
margin-left:10px;
}
.buzz_win_book{
margin-left:-10px;
margin-top:2px;
}
.buzz_win_book .sd{
padding:0
}
.buzz_win_book a:hover{
    color:#000;
}
.buzz_win_book a{
    color:#000;
    line-height:0;
    display:block;
}
.buzz_win_book .bkname{
text-align:center;
padding:3px;
border-bottom:1px solid #eee;
}
.buzz_win_book .bkname, .buzz_win_book .bktxt{
line-height:18px;
}
.buzz_win_book .bktxt{
padding:3px 6px 6px 5px;
border-top:1px solid #eee;
}
#reply_name{
text-align:center;
display:block;
border-bottom:1px dotted #ccc;
padding-bottom:14px;
color:#004276;
padding-top:2px;
}
#reply_reply_body{
height:90px;
display:block;
overflow:auto;
margin-bottom:2px;
padding-right:14px;
}
.reply_reply_loading{
background:url(/img/gif/loading_bar.gif) no-repeat 50% 50%;
}
#reply_reply_pop{
padding:0 3px;
}
#reply_reply_pop textarea{
border:1px dotted #ccc;width:715px;height:80px;
padding:2px 3px;
margin-bottom:7px;
}
.tag_cid_page a, .tag_cid_page .more{
color:#999;
}
.tag_cid_page a:hover{
color:#d20;
}
.tag_cid_page{
padding:5px 2px 0;
border-top:1px solid #eee;
}
.tag_cid_page a{
padding:0 10px 1px;
margin:0;
}
.tag_cid_page .more{
margin-left:21px;
padding:0;
}
.main_nav .now{
padding-left:21px;
}
.page a, .page span{
margin:0;
padding:0 10px 1px;
}
.main_nav .now{
background:url(/img/gif/adot.gif) no-repeat scroll -1px 2px;
}
.pop_link{
display:inline-block;
text-align:center;
padding: 2px 0;
color:#666;
width:146px;
font-size:12px;
border:1px solid #ccc;
margin-top:-1px;
}
.pop_link:hover{
background:#f9f9ff;
color:#000;
}
.pop_block{
position:absolute;
background:#fff;
z-index:100;
left: 134px;
width:146px;
display:none;
margin-top:-4px;
}
.readpad{
border:1px solid #e9e9e9;
box-shadow:2px 2px 1px #F3F3F3;
margin-bottom:32px;
position:relative;
}
.fdbar{
border-top:1px solid #e9e9e9;
margin:7px 0 0;
padding:9px 20px 10px;
}

.readloading{
background:url(/img/gif/loading_bar.gif) no-repeat scroll 50% 50% transparent; 
height:46px;
}


.pop_wrap{
width:450px;
min-height:240px;
overflow:auto;
padding:16px;
}
.pop_title{
font-size:16px;
color:#444;
margin:0 0 16px 0;
}
.pop_txt{
border:1px dotted #ccc;
font-size:14px;
padding:8px;
width:96%;
height:130px;
color:#000;
margin-bottom:16px;
}
.pop_submit_a{
background: -moz-linear-gradient(center top , #FCFCFF, #F6F6FF) repeat 0 0;
border: 1px solid #E0E0E0;
box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 rgba(150, 150, 255, 0.1);
color: #666666 !important;
display: block;
font-size: 14px;
padding: 4px 14px;
text-shadow: 0 1px 0 #FFFFFF;
cursor:pointer;
width:36px;
text-align:center;
}
.pop_submit_a:active{
box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
.pop_share{
width:288px;
height:auto;
padding:12px 12px 22px;
}
.share_img{
width:16px;
height:16px;
display:inline-block;
margin-right:6px;
vertical-align:-3px;
}
.share_a{
display:inline-block;
margin-right:22px;
}
.share_title{
color:#444;
font-size:14px;
margin-bottom:12px;
}
.fdbar .read_author{
color:#222;
margin-left:6px;
}
.fdbar .read_author:hover{
color:#d20;
}
.H .site{
margin-left:0;
}
#H .H{
width:972px;
}

#main_nav_in ul.token-input-list{
width:400px;
margin-left:22px;
border:1px solid #ddd;
margin-bottom:1px;
}
#main_nav_in li.token-input-token{
margin:2px 0 0 3px;
}
#main_nav_in li.token-input-input-token{
line-height:26px;
}
#po_search{
vertical-align:1px;
}
