.tag_log_title{
padding:12px 0;
}
.tag_log_title a{
color:#444;
font-size:14px;
}
.tag_log_title a:hover{
color:#d20;
}
.tag_log_item{
overflow:auto;
text-align:left;
padding:7px 0;
border-top:1px dotted #eee;
}
.tag_log_user{
color:#00d;
}
.tag_log_rollback{
float:right;
color:#00d;
padding:0 6px;
}
.tag_log_rollback:hover{
color:#fff;
background:#00d;
}
.tag_log_back{
color:#444;
}
.po_tag_one{
color:#070;
}
.Zm{
margin-bottom:21px;
padding-bottom:10px;
}
