#site_page{
margin:auto;
float:none;
}
h1{
width: 721px;
margin: auto;
text-align:right;
border-bottom:1px dotted #ccc;
font-size:14px;
padding:16px 0;
}
h1 .new:visited{
color:#999;
}
h1 .nav{
float:left;
color:#999
}
h1 .nav a{
color:#999
}
h1 .nav .c0{
color:#000
}
h1 .nav a:hover{
color:#a10
}
.site_txt{
width:599px;
float:left;
}
.site_po{
border-bottom:1px dotted #ccc;
margin-bottom:32px;
padding-bottom:28px;
}
.site_img{
width: 96px;
padding: 3px;
border: 1px solid #eee;
background-color:#f9f9f9;
float:left;
margin-right:17px;
}
.po_ti{
margin-top:-3px;
border-bottom-width: 1px;
padding-bottom: 11px;
text-align:left;
font-size:14px;
}
.po_num{
text-align: left;
margin-top: 13px;
}
.po_num a b{
color:#666;
font-weight:normal;
}
.po_num a:hover b{
color:#000;
}
.po_num a:hover .number{
border:0;
color:#000;
border-bottom:1px solid #000;
}
.po_num a .number{
font-size:12px;
vertical-align:1px;
}
.po_no{
color:#666;
}
.po_num .amp{
margin:0 4px;
color:#000;
}
.po_no b{
font-weight:normal;
}
.po_no:hover b{
border-bottom:1px solid #000;
color:#000;
}
.po_num .po_no:hover .number{
background:#000;
color:#fff;
}
.number{
margin-right:3px;
color:#666;
border-bottom:1px dotted #666
}
.po_no .number{
background:#666;
padding:0 4px;
color:#fff;
border:0;
text-align:right;
}
.split{
margin:0 12px;
}
.none{
text-align:center;
margin-top:14px;
border:1px dotted #ccc;
padding:27px;
margin-top:32px;
}
