#site_page{
margin:auto;
float:none;
}
h1{
width: 721px;
margin: auto;
text-align: left;
border-bottom:1px dotted #ccc;
font-size:14px;
padding:16px 0;
}
h1 .new:visited{
color:#999;
}
h1 .nav{
float:right;
color:#999
}
h1 .nav a{
color:#999
}
h1 .nav .c0{
color:#000
}
h1 .nav a:hover{
color:#01a
}
.site_txt{
width:599px;
float:left;
}
.site_po{
border-bottom:1px dotted #ccc;
margin-bottom:32px;
padding-bottom:28px;
}
.site_img{
width: 96px;
padding: 3px;
border: 1px solid #eee;
background-color:#f9f9f9;
float:left;
margin-right:17px;
}
.po_ti{
margin-top:-3px;
border-bottom-width: 1px;
padding-bottom: 11px;
text-align:left;
font-size:14px;
}
.po_num{
text-align: left;
margin-top: 13px;
}
.po_fo{
background-color:#666;
color:#fff;
padding: 2px 4px;
vertical-align: 1px;
font-size: 10px;
font-family: Verdana;
}
.po_no{
font-size: 10px;
border-bottom: 1px solid #333;
vertical-align: 2px;
}
.split{
margin:0 12px;
}
