# Pythius - Distutils distribution files
#
# Copyright (c) 2001 by Jürgen Hermann <jh@web.de>
# All rights reserved, see LICENSE for details.
#
# $Id: MANIFEST.in,v 1.2 2002/03/02 07:03:57 ftobin Exp $

include CHANGES INSTALL LICENSE.LGPL README TODO ChangeLog
include MANIFEST.in

#recursive-include dtd *.dtd
#recursive-include samples *

global-exclude */CVS/*

