
.btns{
    margin-left:78px
}
.ti {
    margin: 0 8px;
    padding: 8px;
    line-height: 20px;
    border: 1px solid #CCC;
    width:177px
} 
form {
    font-size:16px;
    padding: 16px 0 64px;
}
form p {
    padding: 16px 0;
}
select {
    border: 1px solid #CCC;
    padding: 8px;
    margin-right: 8px;
}
#pid_now {
    text-align: left;
    margin: 0 8px;
}
.btns{
    margin-top:17px
}
.address{
    width:296px;
}
