
.fullscreen{
margin-top:64px;
font-size:16px;
text-align:center;
}
.fullscreen input{
padding:8px;
width:300px
}
.fullscreen p{
margin-bottom:32px;
}
.fullscreen label{
margin-right:8px
}
.btnw{
margin-left:-120px;
}
.mail{
width:308px;display:inline-block;padding:8px 0 8px 8px;text-align:right;
}
