
.fullscreen{
margin-top:64px;
font-size:16px;
text-align:center;
}
.fullscreen input{
padding:8px;
width:300px
}
.fullscreen p{
margin-bottom:32px;
}
.fullscreen label{
margin-right:8px
}
.btnw{
margin-left:-120px;
}
