
#tag_id_list{
    font-size:16px;
    padding:3px;
    width:90%;
}
.redis_cid{
    width:90%;
    margin-left:122px;
}
.redis_cid span{
    float:left;
    margin-left:27px;
    margin-top:14px;
}
#title{
    padding:7px;
    width:82%;
    margin:14px 20px 14px 0;
}
.check{
    font-size:16px;
    margin-top:14px;
    float:left;
    margin-bottom:14px;
}
.check label{
    margin-right:32px
}
#txt
{
    width:90%;
    padding:3px 7px;
    line-height:16px;
}
#okbtn{
    padding:7px 30px;
    margin-top:14px;    
}
#nobtn{
    float:right;
    margin-right:10%;
    margin-top:18px;
}
.btnbar{
padding-bottom:256px;
} 
ul.token-input-list{
    display:inline-block;
}
.ul_label{
vertical-align:13px;
margin-right:10px;
}
