.photo {
margin:32px 10px 0;
float: left;
}
.photo div{
line-height:16px;
}
.whiteblock {
border: 10px solid #F2F2E9;
}
.blackblock {
border: 10px solid #000;
}
.name {
line-height: 4em;   
}
#footer {
margin: 60px;
background: none repeat scroll 0 0 #CCD2DE;
clear: both;
height: 40px;
padding: 10px; 
width: 580px;
font-size: 16px;
}
body {text-align: center}
.row{
margin-bottom:32px;
border-bottom:1px dotted #ccc;
padding-bottom:32px;
}
