.tag_form{
width:721px;
margin:auto;
}
.tag_edit span{
border:1px solid #eee;
padding:7px 14px;
margin:0 28px 14px 0;
line-height:0;
font-size:16px;
display:inline-block;
line-height:24px;
}
.tag_edit label{
margin-left:3px;
}
.tag_new input{
font-size:16px;
padding:7px;
width:400px;
margin-right:14px;
}
.tag_page pre{
line-height:28px;
}
.tag_page{
margin-bottom:32px;
padding-bottom:32px;
border-bottom:5px solid #ccc;
}
.tag_new{
margin:14px 0;
}
.tag_page h2{
font-size:16px;
text-align:left;
margin:14px 0;
}
.jump a{
margin-left:32px;
}
.jump{
float:right
}
.tag_tip{
margin-top:14px;
text-align:center;
margin-bottom:14px;
padding:14px;
border:1px dotted #ccc;
}
.label{
padding:7px;
border:1px solid #ccc;
}
.label input{
margin-right:7px;
}
