.tag_edit span{
border:1px solid #eee;
padding:7px 14px;
margin:0 28px 14px 0;
line-height:0;
font-size:16px;
display:inline-block;
line-height:24px;
}
.tag_edit label{
margin-left:3px;
}
.tag_new input{
font-size:16px;
padding:7px;
width:400px;
margin-right:14px;
}
.tag_page pre{
line-height:28px;
margin-bottom:28px;
}
.tag_page{
width:721px;
margin:auto;
}
.tag_new{
margin:14px 0;
}
