.bar{
color:#999
}
#wall{
width:721px;
margin:auto
}
#reply_list{
margin-bottom:64px;
}
#reply_txt{
padding:6px 8px 8px;
width:703px;
border:1px solid #ccc;
font-size:14px;
line-height:28px;
height:100px;
margin-top:28px;
}
#secret_span{
vertical-align:top;
float:right;
}
#secret{
vertical-align:-1px
}
#reply_form label{
margin-right:32px;
margin-left:5px;
}
#reply_form .btns{
margin:28px auto 0;
text-align:right;
}
.reply{
padding-right:13px;
background:url(/img/gif/reply.gif) 100% 4px no-repeat;
}
#reply_name{
float:left;
color:#c0c0c0;
}
#reply_submit{
float:right;
}
#reply_form{
margin-bottom:32px;
}
