#box_login input{
padding:8px;
width:300px;
text-align:center;
font-size:16px;
}
#box_login{
padding:32px 32px 0;
}
#box_login #form_btn{
padding-bottom:12px;
margin-left:40px;
}
#box_login p{
padding-bottom:32px;
}
#box_login .label_input{
margin-right:8px;
}
#box_login{
font-size:16px;
}
