<%include file="jquery-1.6.1.min.js.template"/>
<%include file="jquery.defaultvalue.source.js.template"/>
<%include file="jquery.fancybox-1.3.4.js.template"/>
<%include file="jquery.elastic.source.js.template"/>
<%include file="zpage.js"/>
<%include file="ctrl.js"/>

