<%!
from yajl import dumps
%>

<%inherit file="/ctrl/_base/zsite.htm" />
<%namespace file="/ctrl/_util/htm.htm" name="htm"/>
<%namespace file="/ctrl/zsite/_util/event.htm" import="event_admin_nav"/>

<%def name="htm_head()">
${css.ctrl_zsite_com|n}
${css.ctrl_po_edit|n}

<%
if po:
    suffix = '/%s' % po.id
else:
    suffix = ''

%>

<script>
UPLOADURL = "/j/po/upload${suffix}"
DELETEURL = "/j/po/upload/rm${suffix}"
</script>

<script src="${js.ctrl_po_note}"></script>
<script src="${js.upload}"></script>
<script src="${js.pic}"></script>

</%def>

<style>
.com_wrap{
margin-top:40px;
}
.com_main{
padding:0;
width:608px;
border-color:#e9e9e9;
}
.com_side{
width:297px;
padding-left:40px;
border-color:#e9e9e9;
}
#name{
background:#FeFeFF;
}
#txt{
background:#FeFeFF;
font-family:Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}
#txt,#name{
margin:auto;
display:block;
padding:7px;
width:594px;
border:0;
color:#444;
}
#name{
font-size:16px;
margin:0 auto;
padding:14px 7px;
height:19px;
text-align:center;
padding-top:9px\9;
padding-bottom:16px\9;
}
#txt{
height:350px;
border-top:1px #e9e9e9 solid;
box-shadow:2px 0 2px #F3F3F3
}
ul.token-input-list{
width:287px;
border:1px solid #e9e9e9;
margin-bottom:22px;
}
li.token-input-token{
line-height:34px;
}
div.token-input-dropdown{
width:287px;
}
ul.token-input-list li p{
color:#666;
}
#cid_label{
color:#666;
margin:0 70px 0 6px;
vertical-align:1px;
}
.add_pic{
width:124px;
display:inline-block;
text-align:center;
font-size:14px;
border:1px solid #e9e9e9;
height:26px;
padding:7px 0;
line-height:26px;
}
.po_btn{
background: -moz-linear-gradient(center top , #FCFCFF, #F6F6FF) repeat scroll 0 0 transparent;
border: 1px solid #E0E0E0;
box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 rgba(150, 150, 255, 0.1);
color: #666666 !important;
display: inline-block;
font-size: 14px;
padding: 3px 14px;
text-shadow: 0 1px 0 #FFFFFF;
width:289px;
cursor:pointer;
vertical-align:3px;
text-align:center;
line-height:42px;
margin-bottom:22px;
filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#f3f3f3');
background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f3f3f3));
}
.po_btn:active{
box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
#search{
border: 1px solid #E9E9E9;
height: 36px;
line-height: 36px;
margin-bottom: 22px;
width: 271px;
padding:2px 11px;
}
li.token-input-input-token{
line-height:34px;
}
#uploaded{
width:296px;
margin-top:32px;
}
.imgblock{
border:1px solid #f3f3f3;
margin-bottom:20px;
padding:8px;
}
.imgblock .picimg{
padding:0;
float:none;
}
.imgblock img{
height:64px;
width:96px;
display:block;
float:none;
margin-bottom:4px;
}
.imgblock .picimg{
overflow:hidden;
position:relative;
}
.imgblock p{
line-height:28px;
color:#444;
}
.imgblock .title{
font-size:12px;
padding:1px;
width:160px;
color:#444;
border:1px solid #ccc;
}
.imgblock .align{
margin:12px 0 0;
text-align:left;
}
.imgblock .align label{
margin-right:8px;
}
.imgwrap{
overflow:auto;
float:left;
margin-right:14px;
}
.imgblock .picnum{
position:absolute;
right:4px;
top:0;
color:#999;
}
.imgblock .rmpic{
margin:0 0 0 34px;
}
.imgblock .rmpic:hover{
background:#f3f3f3;
color:#d20;
}
</style>

<%htm:form enctype="multipart/form-data" id="po_form">
<div class="com_wrap">
<div class="com_main">
<input id="name" type="text" autocomplete="off" name="name" >\
<textarea id="txt" name="txt"></textarea>
</div>
</div>

<div class="com_side">
<button class="po_btn" type="submit">发布</button>
<input type="text" style="color:#999" placeholder="搜索并添加话题 ..." name="q" id="search" autocomplete="off">\

<input type="checkbox" name="tag_cid" id="cid_cb"/><label for="cid_cb" id="cid_label">仅自己可见</label>
<a class="add_pic" href="javascript:upload();void(0)">添加图片</a>
<div id="uploaded"></div>

</div>


</%htm:form>

<%text>
<script id="update_item" type="text/x-jquery-tmpl">
<div id="pic${$data[0]}" class="c imgblock">
<div class="imgwrap"><img class="picsrc" src="${$data[2]}">
<a href="javascript:void(0)" rel="${$data[0]}" class="rmpic">删除</a></div>
<div class="picimg">
<p class="picnum">
图:<span class="seqid">${$data[0]}</span> </p>
<p>
<label for="tit${$data[0]}">标题:</label>
<input id="tit${$data[0]}" class="title" name="tit${$data[0]}" value="${$data[3]}"></p>
<p class="align">
<input 
{{if $data[1]==-1}}
checked
{{/if}}
id="pos${$data[0]}_-1" name="pos${$data[0]}" type="radio" value="-1" class="radio">
<label for="pos${$data[0]}_-1">居左</label>
<input
{{if $data[1]==0}}
checked
{{/if}}
id="pos${$data[0]}_0" name="pos${$data[0]}" type="radio" value="0" class="radio">
<label for="pos${$data[0]}_0">居中</label>
<input
{{if $data[1]==1}}
checked
{{/if}}
id="pos${$data[0]}_1" name="pos${$data[0]}" type="radio" value="1" class="radio">
<label for="pos${$data[0]}_1">居右</label>
</p>
</div>

</div>
</script>
</%text>

<%
pic_json_list = []
for pic in pic_list:
    pic_json_list.append(( pic.seq ,pic.align ,pic.src219, pic.title))
%>\
<script>
$('#update_item').tmpl(${dumps(pic_json_list)|n}).appendTo("#uploaded")
</script>

