.PIC{
text-align:center;
margin:14px 0;
}
.PICL{
float:left;
margin-right:14px;
}
.PICR{
float:right;
margin-left:14px;
}
.PIC div,.PICR div,.PICL div{
margin-top:7px;
}
.buzz_sys{
background:url(/img/gif/icons/gif/light_gray/to_size/wifi2.gif) no-repeat 0 5px;
padding-left:18px;
}
.buzz_user{
background:url(/img/gif/icons/gif/light_gray/to_size/user.gif) no-repeat 0 4px;
padding-left:18px;
}
.page{
font-size:14px;
color: #aaa;
line-height:150%;
text-align:center;
}
.page a,.page span{
padding:2px 5px;
line-height:27px;
margin:1px 3px;
text-decoration:none;
}
.page a:hover{
text-decoration:underline;
}
.page span{
color:#ccc;
}
.page .now{
background:#33609B;
color:#fff;
}

#sB,#sT{
display:block;
width:32px;
height:32px;
background:url(/img/gif/uptop.gif) no-repeat;
}
#sB{
bottom:14px;
display:none;
position:fixed;
right:16px;
}
#sT{
position:fixed;
margin-top:92px;
margin-left:25px;
background-image:url(/img/gif/upli.gif)
}

