.PIC{
text-align:center;
margin:14px 0;
}
.PICL{
float:left;
margin-right:14px;
}
.PICR{
float:right;
margin-left:14px;
}
.PIC div,.PICR div,.PICL div{
margin-top:7px;
}
.buzz_sys{
background:url(/img/gif/icons/gif/light_gray/to_size/wifi2.gif) no-repeat 0 5px;
padding-left:18px;
}
.buzz_txt{
color:#000;
}
.buzz_reply{
background:url(/img/gif/reply.gif) no-repeat 100% 3px;
display: inline-block;
height: 13px;
margin-left: 7px;
vertical-align: 1px;
width: 11px;
}
.buzz_user{
background:url(/img/gif/icons/gif/light_gray/to_size/user.gif) no-repeat 0 4px;
padding-left:18px;
}
.page{
font-size:14px;
color: #aaa;
line-height:150%;
text-align:center;
}
.page a,.page span{
padding:2px 5px;
line-height:27px;
margin:1px 3px;
text-decoration:none;
}
.page a:hover{
text-decoration:underline;
}
.page span{
color:#ccc;
}
.page .now{
background:#33609B;
color:#fff;
}

#sB,#sT{
display:block;
width:36px;
height:33px;
background:url(/img/gif/back_home3.gif) no-repeat;
}
#sB{
bottom:14px;
display:none;
position:fixed;
right:22px;
}
#sT{
position:absolute;
right:28px;
_position:absolute;
margin-top:36px;
background-image:url(/img/gif/list3.gif);
width:29px;
height:27px;
}

.audio{
height:28px;
width:28px;
margin-right:8px;
margin-left:-3px;
margin-bottom:-8px;
}
