.txta
{
    border:none;
    width:100%;
}
.PIC{
text-align:center;
margin:14px 0;
}
.PICL{
float:left;
margin-right:14px;
}
.PICR{
float:right;
margin-left:14px;
}
.PIC div,.PICR div,.PICL div{
margin-top:7px;
}
.buzz_sys{
background:url(/img/gif/icons/gif/light_gray/to_size/wifi2.gif) no-repeat 0 5px;
padding-left:18px;
}
.buzz_txt{
color:#000;
}
.buzz .zsite_reply{
vertical-align:-2px;
}
.buzz_user{
background:url(/img/gif/icons/gif/light_gray/to_size/user.gif) no-repeat 0 4px;
padding-left:18px;
}
.page{
font-size:14px;
color: #aaa;
line-height:150%;
text-align:center;
}
.page a,.page span{
padding:0 5px 2px;
line-height:27px;
margin:1px 3px;
text-decoration:none;
}
.page a:hover{
text-decoration:underline;
}
.page span{
color:#ccc;
}
.page .now{
background:#33609B;
color:#fff;
}

#sB,#sT{
display:block;
width:36px;
height:33px;
background:url(/img/gif/back_home3.gif) no-repeat;
}
#sB{
bottom:14px;
display:none;
position:fixed;
right:22px;
}
#sT{
position:absolute;
right:28px;
_position:absolute;
margin-top:36px;
background-image:url(/img/gif/list3.gif);
width:29px;
height:27px;
}

.audio{
height:28px;
width:28px;
margin-right:8px;
margin-left:-3px;
margin-bottom:-8px;
}
#feeds .fdvideo{
display:block;
margin:12px 0 6px;
padding-left:33px;
line-height:27px;
color:#000;
background:url(/img/gif/redplay.gif) no-repeat;
}
#feeds .fdvideo:hover{
color:#d10;
}
#feeds .video{
width:677px;
height:553px;
margin:14px 0 8px;
}
#feeds .G3{
overflow:hidden;
}
#feeds .sdw{
margin-bottom:36px;
}
#feeds .G1{
background:url(/img/gif/comment.gif) no-repeat -51px 28px;
*background-position: -50px 28px;
margin-left:-2px;
padding-left:34px;
}
#feeds .G1 .c0{
display:block:
outline:0;
}
.fdimga{
display:block;
text-align:center;
}
#feeds .fdimg{
margin-bottom:8px;
}
.fdh{
margin-bottom:14px;
}
#feeds .fdpre p{
line-height:28px;
padding-bottom:14px;
}
#feeds .fdpre{
margin-bottom:-12px;
}
.fdtxt{
overflow:hidden;
}
#feeds .tag{
color:#999;
margin-left:14px
}
#feeds .tag:hover{
color:#d10;
}
#feeds .fdtxtin{
margin-bottom:6px;
}
#feeds .fcmload{
background:url(/img/gif/loading_bar.gif) no-repeat 50% 50%;
height:8px;
margin-top:22px;
margin-bottom:27px;
}
#feeds .fcml{
margin-top:14px;
border-top:1px dotted #ccc;
padding-bottom:2px;
}
.fcmi{
font-size:14px;
text-align:left;
margin-top:14px;
padding-bottom:14px;
border-bottom:1px dotted #ccc; 
}
#feeds .fcmbtn{
text-align:right;
margin:6px 0 4px 0;
}
#feeds .fcmtxt{
width:661px;
padding:0 7px;
border:1px solid #ccc;
height:100px;
}
#feeds .fcm2{
font-size: 16px; margin-right: 24px; vertical-align: 9px;
color:#999;
}
#feeds .fcm2:hover{
color:#d10;
}

#feeds .feed_event_img{
margin-top: 7px; height: 162px; width: 162px; float: right; margin-left: 16px;
}
#feeds .feed_event_prop{
margin-bottom:14px
}
#feeds .cid68 .fdtxt, #feeds .cid68 .fdpre{
overflow:visible;
}
#feeds .fdall{
margin-top:3px;
}
#feeds .fdall a{
margin-right:14px;
}
#feeds .feed_event_pid{
margin-bottom:14px
}
#feeds .split{
margin:0 7px
}

#feeds .fdopt a{
color:#999;
}
#feeds .fdopt .faved{
color:#000
}
#feeds .fdopt a:hover, #feeds .fdopt .faved:hover{
color:#d10;
}
.at_list{
position:absolute;
background:#fff;
border:1px solid #ccc;
width:auto;
z-index:2;
min-width:200px;
_width:260px;
_overflow:hidden;
*min-width:auto;
}
.at_img{
height:48px;
width:48px;
margin-right:8px;
padding:2px 2px 0 2px;
}
.at_li{
text-align:left;
clear:both;
padding:3px 6px 0 3px;
cursor:pointer;
height:55px;
overflow:hidden;
}
.at_tip{
font-size:12px;
line-height:12px;
padding:5px;
*width:99px;
color:#999;
border:1px solid #ccc;
position:absolute;
background:#f9f9f9;
z-index:2;
}
.at_on{
-moz-box-shadow: inset 2px 2px 14px 2px #999;
box-shadow: inset 2px 2px 14px 2px #999; 
background:#e9e9e9;
}
.at_name{
display:block;
line-height:14px;
margin-top:9px;
*line-height:16px;
}
.at_title{
color:#999;
font-size:14px;
line-height:1px;
overflow:hidden;
*line-height:22px;
}
.fdh a:visited{
color:#999;
}
 .fdh a:hover{
color:#d10;
}
.aH{
background:url(/img/gif/icons/gif/light_gray/to_size/arrow1_ne.gif) no-repeat scroll 50% 50%; 
display:inline-block; 
line-height:27px; 
height:18px;
width:18px;
padding:0;
}
.aH:hover{
background-image:url(/img/gif/icons/gif/red/to_size/arrow1_ne.gif);
}
.fdh .aH{
margin-left:2px;
vertical-align:-2px;
}
.site_a{
border-bottom:1px dotted #ccc;
display:block;
font-size:14px;
padding:8px 0;
color:#999;
}
.site_a span{
*clear:both;
}
.sitecid .now{
color:#000;
}
.pop_say{
position:absolute;
right:0;
top:0;
z-index:1; 
overflow:hidden;
display:none;
text-align:left;
width: 459px;
color:#000;
background:#fff;
border:1px dotted #ccc;
}
.pop_txt{
z-index:1; 
height: 95px;
text-align:left;
width: 445px;
line-height:28px;
color:#000;
padding:3px 7px;
background:#fff;
border:0;
}
.pop_banner{
right:0;
text-align:left;
border-top:1px dotted #ccc;
z-index:1;
width:459px;
height:34px;
background:#fff;
}
.pop_tip{
float:right;
margin:0 14px;
color:#999;
font-size:14px;
padding:3px;
}
.pop_tip span{
margin:0 3px
}
.pop_submit{
color:#999;
float:right;
padding:3px 10px;
border-left:1px dotted #ccc;
}
.pop_submit:hover{
background:#f9f9f9;
color:#444;
}
.pop_close{
float:left;
padding:3px 10px;
color:#999;
height:8px;
width:8px;
margin-top:11px;
_margin-top:7px;
background:url(/img/gif/icons/gif/light_gray/to_size/close.gif) no-repeat 50% 50%;
}
.pop_close:hover{
background:url(/img/gif/icons/gif/black/to_size/close.gif) no-repeat 50% 50%;
}
.site_note{
margin-top:-7px;
padding:0 0 27px;
}
.site_note a:visited{
color:#000;
}
.site_note a:hover{
color:#d10;
}
.pop_hero{
position:absolute;
width:auto;
height:100px;
background:#fff;
border:1px solid #e9e9e9;
z-index:4;
box-shadow:-1px -2px 2px #f3f3f3;
padding:7px 7px 0;
}
.pop_hero_to{
background:url(/img/gif/uparrow_small.gif) no-repeat 0 7px;
height:22px;
margin-top:93px;
position:absolute;
width:220px;
z-index:4;
margin-left:27px;
*margin-left:-35px;
}
.pop_hero_avatar{
float:left;
width:48px;
height:48px;
margin-right:6px;
}
.pop_hero_name{
display:block;
}
.pop_hero_bio{
color:#666;
height:27px;
line-height:27px;
overflow:hidden;
display:inline-block;
}
.pop_hero_banner{
padding-right:12px;
padding-top:3px;
padding-left:3px;
width:48px;
float:left;
}
.pop_hero_num{
float:right;
margin:3px 6px 0 0;
color:#444;
}
.pop_hero_follow{
font-size:14px;
width:46px;
height:27px;
margin-top:7px;
line-height:27px;
text-align:center;
display:inline-block;
}
.pop_hero_motto{
color:#666;
height:16px;
line-height:16px;
white-space:nowrap;
}
.pop_hero_motto , .pop_hero_bio{
margin:0 8px 0 0;
}
.pop_heroR .pop_hero_motto , .pop_heroR  .pop_hero_bio{
margin:0 0 0 8px;
}
.pop_heroR .pop_hero_banner{
float:right;
padding:3px 3px 0 12px;
}
.pop_heroR{
text-align:right
}
.pop_hero_txt{
float:left
}
.pop_heroR .pop_hero_txt{
float:right;
}
.xa{
background:#f8f8f9;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f9',endColorstr='#e6e6e8');
background:-webkit-gradient(linear,0 0,0 100%,from(#f8f8f9),to(#e6e6e8));
background:-moz-linear-gradient(top,#f8f8f9,#e6e6e8);
-webkit-box-shadow:0 1px 0 #fff inset,0 1px 0 rgba(0,0,0,.1);
-moz-box-shadow:0 1px 0 #fff inset,0 1px 0 rgba(0,0,0,.1);
-o-box-shadow:0 1px 0 #fff inset,0 1px 0 rgba(0,0,0,.1);
box-shadow:0 1px 0 #fff inset,0 1px 0 rgba(0,0,0,.1);text-shadow:0 1px 0 #fff;border:1px solid #bbb;color:#666!important;}
.xa:active{
background:#fff;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd',endColorstr='#dddddd');
background:-webkit-gradient(linear,0 0,0 100%,from(#ddd),to(#ddd));
background:-moz-linear-gradient(top,#ddd,#ddd);
-webkit-box-shadow:none;
-moz-box-shadow:none;
-o-box-shadow:none;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}

.gask{
border:1px dotted #ccc;
padding:7px;
display:block;
text-align:center;
font-size:14px;
margin-bottom:14px;
}

.gask:visited{
color:#333;
}

.fcico{
float: left; width: 50px; margin-top: 4px; margin-right: 14px
}
.fcname{
text-align:right;
}
.fcrb{
overflow:hidden;zoom:1
}
.fcrb pre{
margin-top:14px;
padding-top:14px;
border-top:1px dotted #ccc;
}
.fcrb .fcpre0{
margin-top:0;
padding-top:0;
border:0;
}
.fcpre .rm{
float:none;
background:url(/img/gif/x2.gif) no-repeat -50px 9px;
height:18px;
margin-left:14px;
width:14px;
display:none;
_display:inline-block;
}
.fcpre:hover .rm{
display:inline-block;
}
.fcpre:hover .rm:hover{
background-position:-21px 9px;
}
#reply_reply_body .video{
height: 387px;
width: 474px;
}
#feeds .fav, #feeds .fav:hover , #feeds .faving,  #feeds .faved{
padding:0;
display:inline-block;
background:url(/img/png/star.png) no-repeat scroll -2px -15px;
display: inline-block;
height: 15px;
vertical-align: -2px;
width: 18px;
}
#feeds .fav:hover{
background-position:-2px 1px;
}
#feeds .faved{
background-position:-2px -31px;
}
#feeds .faved:hover{
background-position:-2px -47px;
}
#feeds .faving{
background:url(/img/gif/loading12.gif) no-repeat 0 1px;
}


