adduser -m ${username}
echo ${username}:${passwd}| chpasswd
sudo -u ${username} ${prefix}/vsp.sh
sudo -u ${username} sed -i 's/USERNAME/username = ${user_url} <${user_mail}>/' /home/${username}/.hgrc
