<%!
from tornado.escape import json_encode 
from model.motto import motto_get
from model.zsite_fav import zsite_fav_get
from model.po_by_tag import tag_author_list
from yajl import dumps
from cgi import escape
%>
<%namespace file="/ctrl/_util/buzz.htm" import="rec_item_render"/>


<%inherit file="/ctrl/_base/zsite.htm" />
<%namespace file="/ctrl/_util/site_rec_new.htm" import="site_rec_render"/>
<%def name="htm_head()">
<script src="${js.ctrl_side_tag_search}"></script>
<script src="${js.ctrl_read}"></script>
<script src="${js.ctrl_zsite_feed}"></script>
${css.ctrl_zsite_com|n}
${css.ctrl_hero|n}
${css.ctrl_tag_index|n}
${css.ctrl_tag_side|n}

</%def>

<%
is_faved = zsite_fav_get(zsite,current_user_id)
%>

<script id="render_txt" type="text/x-jquery-tmpl"><%text>
<pre class="prebody" id="fdtxt${id}">{{html txt}}</pre><div
class="fdbar"><span
class="L"><span
class="fdopt"><a
class="${fav}"
href="javascript:void(0)" rel="${id}"></a><span
class="split">-</span><a
href="javascript:share(${id});void(0)"
class="vote">推荐</a><span
class="split">-</span><a
href="javascript:fcm(${id},${reply_count});void(0)"
class="fcma"><span
class="mr3">{{if reply_count}}${reply_count}{{/if}}</span>评论</a></span></span><a 
target="_blank" href="/${link}">${time}</a><span
class="split">,</span>{{html user_name}}<a
class="aH" href="${link}" target="_blank"></a></div>
</%text></script>

<div class="G">
<div class="com_wrap">
    <h1>${zsite.name}
        <div class="tagtxt" class="">${motto_get(zsite.id)}</div>
</h1>
    



<div class="com_main">
<div id="feeds"><div id="feed_index">
<div class="main_nav c">
<div class="R c9"><span class="mr3">30</span>文章</div>\

</div>
<div id="item_list"></div>

%if page:
${page|n}
%endif
</div>
</div>
</div>
</div>
    <div class="com_side">


<div id="tagbar">
<span class="xatxt">
%if is_faved:
<a class="xa fav_txt" href="javascript:void(0)" >遗忘</a>\
%else:
<a class="xa fav_txt" href="javascript:void(0)" >关注</a>\
%endif
<a class="xa" href="javascript:void(0)">投递</a>\
<a class="xa" href="javascript:void(0)">提问</a>\
</span>\
<a class="xa xatagset" href="javascript:void(0)"><span></span></a>
</div>



<form class="search" action="http://zuroc.42qu.com/q">
<input type="text" style="color:#999" placeholder="搜索此话题下内容 ..." name="q" id="search" autocomplete="off"><input type="submit" class="search_btn" value=""></form>

<div style="font-size:12px;margin-top:19px;">

<%
site_list=tag_author_list(zsite_id)
%>
%if site_list:
<script type="text/x-json" id="site_data">
    ${escape(dumps(site_list))|n}
</script>
%endif


##        ${site_rec_render()}
<div class="site_rec" id="rec_wrapper" ></div>
<script id="site_rec" type="text/x-jquery-tmpl">
<%text>
<div class="site_li c" id="rec_${$data[0]}">
{{if $data[3]}}<div class="site_left"><div
class="site_img"><a
target="_blank"
href="${$data[1]}"><img 
class="site_avatar" src="${$data[3]}"></a></div></div><div class="
{{else}}
<div class="site_info_no_img
{{/if}}
site_info">
<span class="site_name"><a target="_top"
id="site_name_a" href="${$data[1]}">${$data[2]}</a></span>
<a id="rec_id${$data[0]}"
{{if $data[7] === true}}
href="${$data[1]}/i" target="_blank"
{{else}}
href="javascript:void(0)"
{{/if}}
class="sitefav${$data[7]}"></a>
<div class="site_bio">
{{if $data[5]==1 && $data[4]}}
<div>${$data[4]}</div>
{{/if}}

{{if $data[6]}}<div>${$data[6]}</div>{{/if}}
</div>
</div>

</div>
</%text>
        </script>

${rec_item_render(current_user_id)}



    </div>
</div>


<script id="render_item" type="text/x-jquery-tmpl"><%text>
<div class="readl c">
<a rel="${$data[0]}" href="javascript:void(0)"
id="fav${$data[0]}"
class="fav{{if $data[5]}}ed{{/if}}"></a>
<div id="reado${$data[0]}" class="reado">
<span class="reada">
<span class="title">${$data[1]}</span>
<span class="rtip">${$data[2]}</span>
</span>  
</div>
<div class="zname">
<a href="#" rel="${$data[3]}" class="TPH" target="_blank">${$data[4]}</a>
</div>         
</div>
</%text></script>
<script src="${js.ctrl_render_item}"></script>
<script src="${js.ctrl_tag}"></script>
<script>\
render_note(${json_encode(item_list)|n})
</script>


##{{if site.length}}
##<div class="site_li" id='rec_${site[0]}'>
##    <div class="site_left"><div class="site_img"><a href="${site[1]}"><img class="site_avatar" src="${site[3]}"></a></div></div>
##    <div class="site_info">
##        <span class="site_name"><a target="_top" id="site_name_a" href="${site[1]}">${site[2]}</a></span>
##        {{if site[5] == 3}}
##        <a class="site_fav_a" id="rec_id${site[0]}" href="javascript:fav('${site[0]}')"></a>
##        <div class="site_bio">${site[3]}</div>
##    </div>
##    <div class="delbtn"><a href="javascript:del('${site[0]}')" onclick=""></a></div>
##    {{/if}}
##    {{if site[5] == 1}}
##    <a class="site_fav_a" id="rec_id${site[0]}" href="javascript:follow_a(${site[0]});void(0)"></a>
##    <div class="site_bio">${site[3]}</div>
##</div>
##<div class="delbtn"><a href="javascript:follow_a(${site[0]});void(0)" onclick=""></a></div>
##{{/if}}
##
##</div>
##{{/if}}

</div>

