
<%!
from model.career import career_current
from config import SITE_DOMAIN, FS_URL 
from model.ico import pic_url_with_default,PIC_DEFAULT
from zkit.escape import json_encode 
%>
<%namespace file="/ctrl/_util/user.htm" import="user_career_link, po_link"/>
<%namespace file="/ctrl/_util/htm.htm" name="htm"/>
<%namespace file="/ctrl/_util/buzz.htm" import="buzz_show"/>
##<%namespace file="/ctrl/_util/site_rec_new.htm" import="site_rec_render"/>
##<%namespace file="/ctrl/_util/friend_rec.htm" import="friend_rec_render"/>

<%def name="rec_read_render(rec_item_list)">
%if rec_item_list:
<div class="feed_li feedL feedrec" id="rowrec">\
<div class="feedB">
<a href="javascript:alert('囧 , 显示大图功能还在开发中 ...');void(0)"><div class="sdw"><div class="sd">\
<img src="http://1.42qu.us/imageBackup/star.jpg">\
<div class="recimgtit">我们的征途是星辰大海</div>\
</div></div>\
</a>
</div>\

<div class="feedP"><div class="feedS"><div class="sdw sdwb"><div class="sd">\
<div id="feedrec">
<a class="feedx" href="javascript:feedrecx();void(0)"></a>\
<div class="feedtab">\
<a href="javascript:void(0)" style="">文章</a>\
</div>
<div id="item_list"></div>
##<div class="readl c"><a href="/read">更多 ...</a></div>
</div>
</div></div></div></div>
</div>
<script src="${js.ctrl_render_item}"></script>
<script>_render_note('#feedrec', '#item_list', ${json_encode(rec_item_list)|n}) </script>
%endif
</%def>





<%inherit file="/ctrl/_base/_base2.htm" />


<%
_ico = pic_url_with_default(current_user_id,219) 
%>\


<script id="feed" type="text/x-jquery-tmpl">
<%text>
{{if zsite_cid == 3}}
{{each item}}
<div><div class="site_po"><div>
{{if rt_list.length}} 
{{if (rt_list.length==1 && rt_list[0].txt[2]==0)}}{{else}}{{if rt_list.length}}
<div>
{{each rt_list}}
{{if $value.txt[1]!=""}}
<p><a target="_blank" class='fcmname c0 TPH'  href="${$value.link}">${$value.name}</a>{{if rt_list.length==1}} 推荐{{/if}} : ${$value.txt[1]} <a class="zsite_reply" href="/po/${$value.txt[0]}" target="_blank"></a></p> 
{{/if}}
{{/each}}
</div>
{{/if}}
{{/if}}
{{/if}}
<a href="/${id}" target="_blank">${name}</a><span class="split">-</span><a target="_blank" class="c0" href="${zsite_link}">${zsite_name}</a>{{if has_rter}}<span class="split">-</span>{{each rter}}{{if $index}} , {{/if}}<a target="_blank" class='fcmname c0 TPH' href="${$value[0]}">${$value[1]}</a>{{/each}} 推荐{{/if}} 
</div></div></div>
{{/each}}
{{else}}
<div class="feed_li">
    <div class="feedB">
<div class="imgw"><a target="_blank" href="${zsite_link}"><img src="${pic}"></a></div></div>
    <div class="feedP">
    <div class="feedS">
{{each item}}
<div class="sdw {{if $index+1==item.length}}sdwb{{/if}}"><div class="sd cid${cid}">
{{if rt_list.length}} 
{{if !(rt_list.length==1 && rt_list[0].txt[2]==0)}}
<div class='rel'>
{{each rt_list}}
{{if $value.txt[1]!=""}}
<p><a target="_blank" class='fcmname c0 TPH'  href="${$value.link}">${$value.name}</a>{{if rt_list.length==1}} 推荐{{/if}} : ${$value.txt[1]} <a class="zsite_reply" href="/po/${$value.txt[0]}" target="_blank"></a></p> 
{{/if}}
{{/each}}

{{if has_rter}} 
{{each rter}}
{{if $index}} , {{/if}}
<a target="_blank" class='fcmname c0 TPH' href="${$value[0]}">${$value[1]}</a>
{{/each}} 推荐
{{/if}}
</div>
{{/if}}
{{/if}}


{{if cid==68}}
<a href="/${id}"><img class="feed_event_img" src="${rid}"></a>
{{/if}}
{{if cid!=61 || rid }}
<pre class="fdh">{{if cid==72}}@<a href="//${site_url}"
target="_blank">${site_name}</a> : ${name}{{else}}{{if cid==61 || cid==64 || cid==63 }}{{if cid==63}}问 : {{/if}}{{if rid}}{{if question_user_link==zsite_link}}自问自答{{else}}答 <a
target="_blank"
href="${question_user_link}">${question_user}</a> 问{{/if}} : {{/if}}{{/if}}{{if cid==67}}<embed
flashvars="foreColor=#aa1100&amp;analytics=false&amp;filename=${rid}</%text>\
${this.xsrf_token}"
quality="high" bgcolor="#FFFFFF" class="audio"
src="${FS_URL}/swf/1bit.swf"
<%text>type="application/x-shockwave-flash"
wmode= "Opaque"></embed>{{/if}}{{if name}}{{if cid == 73}}{{html name}}{{else}}<a
target="_blank" href="/{{if rid && (cid==61 || cid==64 || cid==63)}}${question_id}{{else}}${id}{{/if}}">${name}{{/if}}{{/if}}</a>{{/if}}{{if !$index}}<div 
    class="zname"><span></span><a 
    target="_blank" class="TPH" href="${zsite_link}">${zsite_name} {{if unit||title}}({{/if}} {{if unit}}${unit}{{/if}} {{if unit&&title}}.{{/if}} {{if title}}${title}{{/if}} {{if unit||title}}){{/if}}</a></div>{{/if}}{{if tag_id}}<a 
    class="tag" href="/tag/${tag_id}">#${tag_name}#</a>{{/if}}</pre>
{{/if}}{{if cid==65}}
<a class="fdimga" target="_blank" href="/${id}"><img class="fdimg" src="${rid}"></a>
{{/if}}
{{if cid==68}}
<div class="feed_event_prop">
<p>地点<span class="colon">:</span>${place_name}</p>
<p class="ml48 feed_event_pid">${address}</p>
<p>时间<span class="colon">:</span>${time_row1}</p>
{{if time_diff_day}}
<p class="ml14">至<span class="ml20">${time_row2}</span></p>
{{else}}
<p class="ml48">${time_row2}</span></p>
{{/if}}
</div>
{{/if}}
<div class="fdtxt{{if !$index}}{{if !rt_list.length || (rt_list.length==1 && rt_list[0].txt[2]==0)}} fdtxt${$index}{{/if}}{{/if}}" id="fdtxt${id}">
        {{if cid==61 || cid == 66}}
<div class="fdtxtin">{{if txt_more}}${txt}{{else}}{{html txt}}{{/if}}{{if !$index && cid==61 &&  !rid}}<div 
    class="zname"><span></span><a 
class="TPH" target="_blank" href="${zsite_link}">${zsite_name} {{if unit||title}}({{/if}} {{if unit}}${unit}{{/if}} {{if unit&&title}}.{{/if}} {{if title}}${title}{{/if}} {{if unit||title}}){{/if}}</a></div>{{/if}}{{if txt_more}}<a 
    href="javascript:void(0)" class="fdext" onclick="fdtxt(this,${id});">浏览正文</a>{{/if}}</div>
{{if cid == 66}}<a onclick="return fdvideo(this);" class="fdvideo" href="${rid}">播放视频</a>{{/if}}
        {{else}}
            {{if cid==68}}
<div class="fdtxtin">{{if txt_more}}${txt}{{else}}{{html txt}}{{/if}}</div>
<div class="fdall"><a href="javascript:void(0)" class="fdext" onclick="fdtxt(this,${id});">显示详情</a>{{if cid==68}}<a href="/event/join/${id}" target="_blank">报名参加</a>{{/if}}</div>
            {{else}} 
                {{if txt_more}}
<div class="fdtxtin">${txt}</div>
<div class="fdall"><a href="javascript:void(0)" class="fdext" onclick="fdtxt(this,${id});">显示全部</a></div>
                 {{else}}
{{html txt}}
                {{/if}}
            {{/if}}
        {{/if}}
    </div>
    <div class="fdbar">
    <span class="L"><span class="fdopt"><a
rel="${id}" href="javascript:void(0)"
class="{{if fav}}faved{{else}}fav{{/if}} fav${id}"
></a><span
class="split">-</span><a
class="vote" href="javascript:share(${id});void(0)">推荐</a><span
class="split">-</span><a
class="fcma"
href="javascript:fcm(${id},${reply_count});void(0)">{{if reply_count}}<span
class="mr3">${reply_count}</span>{{/if}}评论</a></span>
    </span>

{{if cid!=72}}{{if site_id}}<a href="//${site_url}"
target="_blank">${site_name}</a><span
class="split">,</span>{{/if}}{{/if}}<a
href="/${id}" target="_blank">${create_time}</a>{{if rt_list.length  && rt_list[0].txt[2] == 0 }}<span class="split">,</span>广播{{/if}}


    </div>
</div></div>
{{/each}}
    </div>
    </div>
</div>
{{/if}}
</%text>
</script>

<div class="Iwp">
    <div class="Lwp">
        <div class="feed_li feedL" id="feed_self">
            <div class="feedB">
    %if _ico == PIC_DEFAULT%'219':
<a href="/i/pic" class="c0 imgw">
    <img src="${FS_URL}/img/png/noicon.png">
    %else:
<a href="${current_user.link}" class="c0 imgw">
<img src="${_ico|n}">
    %endif
</a>
            </div>
            <div class="feedP">
                <div class="feedS">
                    <div class="sdw">
                        <div class="sd cid62">
                            <%htm:form  action="/po/new_word" id="po_word_form">
<textarea class="po_word_txt po_word_txt_bg"  id="po_word_txt"name="txt"></textarea>
                            <div class="fdbar">
                                <span class="say_type">
                                    <span class="fdopt">
<a href="/po/note">文章</a><span class="split">-</span>\
<a href="javascript:po_photo();void(0)">图片</a><span class="split">-</span>\
<a href="javascript:po_video();void(0)">视频</a><span class="split">-</span>\
<a href="javascript:po_audio();void(0)">声音</a><span class="split">-</span>\
<a href="/po/event">活动</a><span class="split">-</span>\
<a href="//com.${SITE_DOMAIN}/new">招聘</a>\
                                    </span>
                                </span>
                                <span id="txt_tip"></span>
                                <a href="javascript:void(0)" class="say_btn">游吟</a>
                            </div>
                            </%htm:form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<div id="feeds">\
${rec_read_render(rec_item_list)}\
<input id="begin_id" type="hidden">\
</div>\
<a id="feed_load" href="javascript:void(0)">加载更多</a>\
<div id="feed_loading"></div>\

</div>
<div class="Rwp">


<a class="gask" href="http://zuroc.42qu.com/10204513">有空 ?  来写42区小功能吧!</a>
        ${buzz_show(current_user_id)}
<%doc>
        ##${site_rec_render()}
        <p class="buzz_h1" id="rec_title">站点推荐</p>
        <div class="site_rec" id="rec_wrapper" ></div>
        <script id="site_rec" type="text/x-jquery-tmpl">
<%text>
{{if site.length}}
<div class="site_li" id='rec_${site[0]}'>
    <div class="site_left"><div class="site_img"><a href="${site[1]}"><img class="site_avatar" src="${site[3]}"></a></div></div>
    <div class="site_info">
        <span class="site_name"><a target="_top" id="site_name_a" href="${site[1]}">${site[2]}</a></span>
        {{if site[5] == 3}}
        <a class="site_fav_a" id="rec_id${site[0]}" href="javascript:fav('${site[0]}')"></a>
        <div class="site_bio">${site[3]}</div>
    </div>
    <div class="delbtn"><a href="javascript:del('${site[0]}')" onclick=""></a></div>
    {{/if}}
    {{if site[5] == 1}}
    <a class="site_fav_a" id="rec_id${site[0]}" href="javascript:follow_a(${site[0]});void(0)"></a>
    <div class="site_bio">${site[3]}</div>
</div>
<div class="delbtn"><a href="javascript:follow_a(${site[0]});void(0)" onclick=""></a></div>
{{/if}}

</div>
{{/if}}
</%text>
        </script>
</%doc>
    </div>
    </div>


<%def name="htm_foot()">
<script>init_user()</script>
<script src="${js.ctrl_zsite_feed}"></script>
</%def>


