<%!
from zkit.escape import json_encode 
from model.motto import motto_get
from model.zsite_fav import zsite_fav_get
from model.po_tag import tag_author_list
from yajl import dumps
from cgi import escape

%>
<%inherit file="/ctrl/_base/zsite.htm" />

<%namespace file="/ctrl/_util/site_rec_new.htm" import="site_rec_render"/>
<%def name="htm_head()">

<script src="${js.ctrl_tag}"></script>

${css.ctrl_tag_index|n}

</%def>


<%
is_faved = zsite_fav_get(zsite,current_user_id)
%>


<div class="G">
<div class="Zw">
    <h1>${zsite.name}
<%
txt = motto_get(zsite.id)
%>
%if txt:
<div class="tagtxt">${txt}</div>
%endif
    </h1>

        <div id="tag_cid"></div>
        <script>_render_tag_cid('#tag_cid',${tag_cid_json_list|n})</script>
    </div>

    <div class="Zs">
%if current_user_id:
        <div id="tagbar">\
<span class="xatxt">\
<a class="xa fav_txt" id="follow_a${zsite_id}" href="javascript:follow_a(${zsite_id});void(0)">\
            %if is_faved:
淡忘\
            %else:
关注\
            %endif
</a>\
<a class="xa" href="/po/note">投递</a>\
<a class="xa" href="javascript:sns_share();void(0)">分享</a>\
</span>\
<a class="xa xatagset" href="javascript:click_sets();void(0)"><span></span></a>\
            <div class="pop_block">
                <a href="javascript:pop_manage();void(0)" class="pop_link">管理此标签</a>
            </div>
        </div>
%endif

##<form class="search" action="http://zuroc.42qu.com/q">
##<input type="text" style="color:#999" placeholder="搜索此标签下内容 ..." name="q" id="search" autocomplete="off"><input type="submit" class="search_btn" value="">
##</form>

        <div class="tag_author_list">

<%
#from model.zsite_json import zsite_json
#site_list = zsite_json(current_user_id, [current_user]) 
site_list = tag_author_list(zsite_id, current_user_id)

%>
        %if site_list:
        <script type="text/x-json" id="site_data">
            ${escape(dumps(site_list))|n}
        </script>

        <div class="buzz_h1" id="rec_title">贡献者</div>
        <div class="site_rec" id="rec_wrapper" ></div>
<script id="site_rec" type="text/x-jquery-tmpl">
<%text>
<div class="site_li c" id="rec_${$data[0]}">
{{if $data[3]}}<div class="site_left"><div
class="site_img"><a
target="_blank"
href="${$data[1]}"><img 
class="site_avatar" src="${$data[3]}"></a></div></div><div class="
{{else}}
<div class="site_info_no_img
{{/if}}
site_info">
<span class="site_name"><a target="_top"
id="site_name_a" href="${$data[1]}">${$data[2]}</a></span>
<a id="star_fav${$data[0]}"
{{if $data[7] === true}}
href="${$data[1]}/i" target="_blank"
{{else}}
href="javascript:star_fav(${$data[0]},${$data[7]});void(0)"
{{/if}}
class="sitefav${$data[7]}"></a>
<div class="site_bio">
{{if $data[5]==1 && $data[4]}}
<div>${$data[4]}</div>
{{/if}}

{{if $data[6]}}<div>${$data[6]}</div>{{/if}}
</div>
</div>

</div>
</%text>
        </script>

        %endif
        </div>
</div>



