#upload_wait{
display:none;
}
#txt,#name{
margin:auto;
display:block;
padding:7px;
width:721px;
border:1px dotted #ccc;
}
#name{
font-size:16px;
margin:0 auto;
border-bottom:0;
border-top:0;
padding:14px 7px;
height:19px;
text-align:center;
padding-top:9px\9;
padding-bottom:16px\9;
}
#txt{
height:350px;
border-top:1px #ccc dotted;
}
#po_btn,#uploaded{
    padding-top:16px;
    width:737px;
    margin:auto;
    font-size:14px;
}
#po_btn{
    text-align:right;
}
#upload,#upload_wait{
float:left;
}
#secret, #good{
    vertical-align:-1px;
    _vertical-align:1px;
    _margin-right:-4px;
}
#po_btn .btnw{
    margin-top:-1px;
    margin-left:16px;
    float:right; 
}
.imgblock{
border:1px dotted #ccc;
margin-bottom:20px;
}
.imgblock img{
float:right;
}
.imgblock p{
line-height:32px;
}
.imgblock .title{
font-size:14px;
width:259px;
padding:7px;
}
.imgblock .picimg{
float:left;
padding:14px;
}
.imgblock .rmpic{
color:#999;
margin-right:72px;
}
.imgblock .align{
text-align:left;
margin:16px 0;
}
.imgblock .align label{
margin-right:32px;
}
#secret_label, #good_label{
margin-right:32px
}

.rmpo{
margin-right:46px;
}
#po_edit_span{
*margin-right:114px;
}
#po_submit{
*top:-46px;
_top:-31px;
*float:right;
*position:relative;
}
#po_edit_wrap{
_top:12px;
_position:relative;
}
.rid_title{
text-align:center;
margin:16px 0;
}
#question_flag{
position:absolute;font-size:16px;
margin-left:119px;
*margin-left:1px;
margin-top:9px;
*margin-top:10px;
padding:0 10px;
background:#fff
}
#name{
background:#FeFeFF;
}
#txt{
background:#FeFeFF;
font-family:Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

.zsite_tag_name a{
    margin-right:14px;
    color:#000;
}
.zsite_tag_name select{
    text-align:center;
    padding:10px;
    vertical-align:3px;
    height:43px;
}

