#joiner { width: 753px; margin-top: 32px; }
#joiner .G1 { margin-bottom: 32px; }

#event_page{
margin-left: 125px; margin-bottom: 28px;
}

#event_img{
float:left; margin-right: 36px;
}

#event_txt{
float: left; margin-top: -7px;
}

#po_name{
text-align: left; font-size: 14px; margin-top: 4px; margin-bottom: 14px;
}
.mt14{
margin-top:14px
}
#event_join_btn{
margin-top: 16px; margin-bottom: 28px;
}
#to_confirm{
margin-left:32px;vertical-align: 13px;
}
#price_per{
vertical-align: 13px; margin-left: 32px;
}

.spline{
border:1px dotted #ccc;
border-width: 1px 0;  text-align: center; padding: 14px 14px 16px; margin: 14px 0 0;
}
