#upload_wait{
    display:none;
}
#txt,#name{
margin:auto;
display:block;
padding:7px;
width:721px;
border:1px dotted #ccc;
}
#name{
font-size:16px;
margin:0 auto;
border-bottom:0;
border-top:0;
padding:14px 7px;
padding-top:7px\9;
padding-bottom:18px\9;
text-align:center;
}
#txt{
height:350px;
border-top:1px #ccc dotted;
}
#po_btn{
    padding-top:16px;
    text-align:right;
    width:737px;
    margin:auto;
    font-size:14px;
}
#upload,#upload_wait{
float:left;
}
#secret{
    vertical-align:-1px;
}
#po_btn .btnw{
    margin-top:-1px;
    margin-left:16px;
    float:right; 
}
