<%!
from model.ico import ico_url_with_default
from config import FS_URL
%>
<%inherit file="/ctrl/_base/zsite.htm" />
<%namespace file="/ctrl/_util/htm.htm" name="htm"/>
<%namespace file="/ctrl/zsite/_util/wall.htm" import="reply_render, reply_textarea"/>
<%namespace file="/ctrl/_util/buzz.htm" import="buzz_show"/>


<%def name="htm_head()">
${css.ctrl_live|n}
</%def>


<%def name="htm_foot()">
<a id="feed_load" href="javascript:void(0)">加载更多</a>
<div id="feed_loading"></div>
<script src="${js.ctrl_live}"></script>
<script src="${js.ctrl_feed}"></script>
</%def>



%if zsite_id == current_user_id:
<div class="live_top G c" style="margin-left:219px">

${buzz_show(zsite_id)}

<%htm:form className="G2" action="/po/word" id="po_word_form">
<%
_ico = ico_url_with_default(zsite_id) 
%>\
<a id="po_word_ico"
href="${current_user.link}"><img src="${_ico|n}"></a>\
<div class="po_word_out2"><div class="po_word_out1"><div class="po_word">\
<textarea 
class="po_word_txt"
id="po_word_txt" name="txt"></textarea>\
</div></div></div>\
<div id="po_word_btn" class="btns">\
<span class="btnw"><button type="submit">游吟</button></span>\
<span id="po_word_tip">&nbsp;</span>\
</div>
</%htm:form>
</div>

%endif
<div id="main">
<div id="feeds">
<input id="begin_id" type="hidden">
</div>
</div>

<%text>
<script id="feed" type="text/x-jquery-tmpl">
<div class="G c">
    <div class="G3">
{{each item}}
<div class="sdw"><div class="sd">
{{if cid!=61 || rid }}
<pre class="fdh">{{if cid!=65 && cid!=66}}{{if cid==63}}问 : {{/if}}{{if rid}}{{if question_user_link==link}}自问自答{{else}}答 <a
href="${question_user_link}">${question_user}</a> 问{{/if}} : {{/if}}{{/if}}{{if name}}<a
target="_blank"
href="/{{if rid && cid!=65 && cid!=66}}${question_id}{{else}}${id}{{/if}}">${name}</a>{{/if}}{{if tag_id}}<a
class="tag" href="/tag/${tag_id}">#${tag_name}#</a>{{/if}}</pre>
{{/if}}
{{if cid==65}}
<a class="fdimga" target="_blank" href="/${id}"><img class="fdimg" src="${rid}"></a>
{{/if}}
<div class="fdtxt" id="fdtxt${id}">
        {{if cid==61 || cid == 66}}
{{html txt}}
            {{if cid == 66}}
<a onclick="fdvideo(this,${id});" class="fdvideo" href="javascript:void(0)">播放视频</a>
            {{/if}}
        {{else}} 
            {{if txt_more}}
<div class="fdtxtin">${txt}</div>
<div class="fdall"><a href="javascript:void(0)" onclick="fdtxt(this,${id});">显示全部</a></div>
             {{else}}
{{html txt}}
            {{/if}}
        {{/if}}
    </div>
    <div class="fdbar">
    <span class="L">
        ${create_time}
        {{if rt_list.length}} ,
            {{if rt_list.length == 1 && rt_list[0] == 0}}
全站广播
            {{else}}
        <span>
            {{each rt_list}}
<a href="${$value.link}" target="_blank">${$value.name}</a>{{if $index<rt_list.length-1}} , {{/if}}
            {{/each}}
        </span>
        {{if rt_list.length > 1}}, ${rt_list.length}人{{/if}}喜欢
            {{/if}}
        {{/if}}
    </span>
<span class="vote${vote_state}" id="vote${id}"><a title="厌倦" class="down" href="javascript:vote_down(${id});void(0)"></a><span title="好评度" class="num">${vote}</span><a title="喜欢" class="up" href="javascript:vote_up(${id});void(0)"></a></span><a title="回应" target="_blank" class="reply" href="/${id}#txt_form">${reply_count}</a>
    </div>
</div></div>
{{/each}}
    </div>
    <div class="G1 liveimg">
        <a class="c0" target="_blank" href="${link}">
        <div><img src="${pic}"></div>
        <div>${name}</div>
{{if unit}}
        <div class="tr">${unit}</div>
{{/if}}
{{if title}}
        <div class="tr">${title}</div>
{{/if}}
        </a>
    </div>
</div>
</script>
</%text>



##
##
##











##<%def name="_style1(i)">
##<%
##feed_zsite = i.zsite
##%>\
##<div style="padding:10px;margin:10px;border:1px solid #eee">\
##<a href="${feed_zsite.link}" target="_blank">${feed_zsite.name}</a> : \
##${caller.body()}\
##</div>\
##</%def>
##
##<%!
##from model.vote import vote_state
##%>
##<%def name="vote(id, num)">
##<%
##state = vote_state(current_user_id, id)
##%>
##<span class="vote${state}" id="vote${id}">
##<a title="厌倦" class="down" href="javascript:vote_down(${id});void(0)">-</a>
##<span title="好评度" class="num">${num}</span>
##<a title="喜欢" class="up" href="javascript:vote_up(${id});void(0)">+</a>
##<a title="转发" id="rt${id}" class="rt" href="javascript:rt(${id});void(0)"></a>
##</span>
##</%def>
##
##<%def name="_style1_1(i)">
##<%
##iid = i.id
##%>
##<%call expr="_style1(i)">
##${caller.body()}\
##<div>\
##<a href="/po/${iid}" target="_blank">${i.reply_count or ''}回复</a>
##${vote(iid, i.vote)}
##</div>\
##</%call>\
##</%def>
##
##<%def name="render_word(i)">
##<%call expr="_style1_1(i)">
##${i.name}
##</%call>
##</%def>
##
##<%def name="render_note(i)">
##<%call expr="_style1_1(i)">
##<a href="/po/${i.id}" target="_blank">${i.name}</a>
##<div>${i.txt}</div>
##</%call>
##</%def>
##
##
##<%!
##from model.cid import CID_WORD,CID_NOTE
##%>
##%for i in entry_list:
##<%
##cid = i.cid
##%>
##%if cid == CID_WORD:
##${render_word(i)}
##%elif cid == CID_NOTE:
##${render_note(i)}
##%endif
##%endfor
