#form_reg .hint_p{
padding:8px;
letter-spacing:1px;
}
#form_reg p{
padding:12px 0;
}
.p_b{
font-weight:bold;
}
.hint_logo{
color:#d10;
margin-left:6px;
}
.head_hint{
margin:112px 0 22px -10px;
border-bottom:1px dotted #ccc;
padding-bottom:19px;
}

.main_block{
display:none;
margin-left:98px;
}
