.zsite_block{
border:none;
}
.job_title{
font-size:16px;
border-bottom:1px dotted #ccc;
padding-bottom:16px;
color:#444;
}
.info_title{
padding-left:16px;
background:url(/img/gif/adot.gif) no-repeat 0 8px;
color:#444;
float:left;
}
