.search_input{
padding:8px;
height:29px;
border:dotted #ccc;
border-width:0 0 1px;
}
.search_btn{
padding:8px;
background:#f9f9f9;
border:dotted #ccc;
border-width:0 1px 1px;
cursor:pointer;
font-size:16px;
}
.search_btn:hover{
color:#d10;
}
.result_wrap{
min-height:300px;
}
.f_icon {
background:url(/img/gif/yes_bgfc0.gif);
display:inline-block;
height:16px;
margin-left:5px;
vertical-align:-1px;
width:16px;
}
.p_wrap{
overflow:auto;
margin-top:32px;
}
.skip{
margin-left:16px;
}
.search_wrap{
margin-left:198px;
width:578px;
}
.info_hint{
font-size:14px;
padding:16px 0;
width:120px;
color:#444;
}
.added_wrap{
clear:both;
margin-bottom:16px;
overflow:auto;
margin-left:-19px;
}
.added_member{
display:block;
float:left;
width:80px;
overflow:hidden;
margin:0 0 16px 19px;
border-bottom:1px dotted #ccc;
text-align:center;
}
.search input {
border:1px solid #DDD;
height:26px;
line-height:26px;
padding:1px 3px;
vertical-align:middle;
width:250px;
}
.search .search_btn{
background:url(/img/png/search_btn.png) no-repeat;
cursor:pointer;
height:30px;
width:31px;
border:none;
}
.search input{
line-height:26px;
padding:1px 3px;
vertical-align:middle;
}
.search{
margin-left:20px;
}
