.search_input{
padding:8px;
height:29px;
border:dotted #ccc;
border-width:0 0 1px;
}
.search_btn{
padding:8px;
background:#f9f9f9;
border:dotted #ccc;
border-width:0 1px 1px;
cursor:pointer;
font-size:16px;
}
.search_btn:hover{
color:#d10;
}
.result_wrap{
min-height:300px;
}
.f_icon {
background:url(/img/gif/yes_bgfc0.gif);
display:inline-block;
height:16px;
margin-left:5px;
vertical-align:-1px;
width:16px;
}
.p_wrap{
overflow:auto;
margin-top:32px;
}
.skip{
margin-left:8px;
}
.info_hint{
font-size:14px;
border-bottom:1px dotted #ccc;
border-top:1px dotted #ccc;
color:#444;
padding:14px;
margin-bottom:14px;
text-align:center;
}
.added_member{
border-bottom:1px dotted #ccc;
text-align:left;
margin-bottom:14px;
}
.added_member a{
color:#444;
}
.added_member a:hover{
color:#d20;
}
.search input {
border:1px solid #DDD;
height:26px;
line-height:26px;
padding:1px 3px;
vertical-align:middle;
width:360px;
}
.search .search_btn{
background:url(/img/png/search_btn.png) no-repeat;
cursor:pointer;
height:30px;
width:31px;
border:none;
}
.search input{
line-height:26px;
padding:1px 3px;
vertical-align:middle;
}
.member_new_invite{
display:block;padding:48px 0;text-align:center;
}
.rm{
float:right;
width:8px;
height:8px;
padding:8px;
margin-top:2px;
background:url(/img/gif/icons/gif/light_gray/to_size/close.gif) no-repeat 50% 50%;
}
.rm:hover{
background-image:url(/img/gif/icons/gif/black/to_size/close.gif);
}
#invite_form{
width:690px;
margin:auto;
padding-top:14px;
}
.line{
margin-top:14px;
}
.line input, .line select{
padding: 8px;
}
.line input{
line-height: 20px;
}
.member_name,.member_mail{
border:1px solid #ccc;
padding:7px;
width:320px;
}
.member_name_short,.member_mail_short{
border:1px solid #ccc;
padding:7px;
width:210px;
}
.member_name,.member_name_short{
margin-left:14px;
}
.member_btn{
margin-top:22px;
}
.nav{
width:470px;
margin:0 auto;
text-align:center;
display:block;
padding:16px 0;
border-bottom:1px dotted #ccc;
}
.split{
margin:0 12px;
}
.member_hint{
color:#444;
float:left;
margin-right:20px;
}
.zsite_block{
padding:0;
border:none;
}
.member_item{
width:160px;
margin-left:30px;
float:left;
padding-bottom:4px;
border-bottom:1px dotted #ccc;
text-align:left;
overflow:hidden;
margin-bottom:16px;
}
.member_long{
width:346px;
padding-right:4px;
}
.member_block{
float:left;
width:380px;
}
.member_wrap{
margin-top:32px;
overflow:auto;
}
.member_a{
color:#444;
}
.member_rm_a{
float:right;
display:block;
padding:4px;
margin-top:4px;
width:16px;
height:16px;
background:url(/img/gif/icons/gif/light_gray/to_size/close.gif) no-repeat 8px 8px;
}
.member_rm_a:hover{
background:url(/img/gif/icons/gif/black/to_size/close.gif) no-repeat 8px 8px;
}
.member_pass_a{
float:right;
display:block;
margin-left:32px;
}
.invite_hint{
padding-top:16px;
color:#444;
}
.member_link{
border:1px solid #ccc;
width:452px;
}
.mt16{
margin-top:16px;
}
.admin_ol{
color:#666;
list-style-position:inside;
list-style-type:square;
margin-top:32px;
padding-bottom:32px;
border-bottom:1px dotted #ccc;
}
.admin_ol li{
margin-top:22px;
}
.admin_link{
color:#000;
margin-left:3px;
letter-spacing:1px;
}
.admin_link:hover{
color:#000;
text-decoration:underline;
}
