h1 {
border-bottom:1px dotted #CCCCCC;
margin:16px auto 0;
padding-bottom:16px;
text-align:right;
width:470px;
}
.comment_txt {
border:1px solid #CCCCCC;
padding:3px 6px;
resize:none;
width:456px;
overflow:hidden;
height:80px;
}
.zsite_block{
border:none;
}
.comment_cont{
border-top:1px dotted #ccc;
padding-top:14px;
margin-top:14px;
}
.friend_a{
color:#444;
margin:0 8px;
}
.rsm_img{
width:450px;
padding-left:20px;
margin-bottom:12px;

}
.rsm_img_wrap{
line-height:0;
}
.rsm_name{
font-size:14px;
line-height:18px;
border-bottom:1px dotted #ccc;
padding-bottom:16px;
text-align:right;
color:#444;
margin-bottom:16px;
}
.rsm_l{
padding:8px 0;
color:#222;
width:78px;
text-align:right;
float:left;
margin-right:22px;
line-height:16px;
}
.rsm_r{
padding:8px 0;
color:#222;
text-align:left;
line-height:16px;
}
.rsm_title{
padding:6px 0 6px 22px;
background:url(/img/gif/adot.gif) no-repeat 0 14px;
color:#444;
border:dotted #ccc;
border-width:1px 0;
margin:22px 0 6px;
}
.rsm_pre{
margin-top:-5px;
}
.bio_addr, .bio_home{
margin-right:-200px;
}
.bio_input{
padding:0;
width:220px;
}
.bio_salary{
width:80px;
margin:0 8px;
}
.career_date{
margin-right:14px;
}
.career_li{
margin:0 0 14px 100px;
}
.career_com,.career_job,.input_career_com,.input_career_job{
margin-right:14px;
}
.rsm_career{
margin-right:-250px;
}
.close_career{
width:16px;
height:16px;
padding:4px;
background:url(/img/gif/icons/gif/light_gray/to_size/close.gif) no-repeat 8px 8px;
display:inline-block;
vertical-align:-6px;
}
.close_career:hover{
background:url(/img/gif/icons/gif/black/to_size/close.gif) no-repeat 8px 8px;
}
.add_career{
display:block;
margin-top:14px;
}
.input_expr_text{
width:200px;
}
.input_expr_txt{
width:330px;
height:140px;
}
.add_expr{
margin-right:14px;
color:#999;
}
.expr_cont{
margin-bottom:22px;
}
.close_expr{
width:16px;
height:16px;
padding:4px;
background:url(/img/gif/icons/gif/light_gray/to_size/close.gif) no-repeat 8px 8px;
float:right;
margin-top:8px;
}
.close_expr:hover{
background:url(/img/gif/icons/gif/black/to_size/close.gif) no-repeat 8px 8px;
}
.career_block{
clear:both;
}
.input_plan_txt{
width:330px;
height:140px;
}
