#form_reg{
font-family:'lucida grande',tahoma,helvetica,arial,'bitstream vera sans',sans-serif;
line-height:36px;
padding:64px 0 48px;
}
#form_reg p{
padding:16px 0;
}
#form_reg input, #form_reg, #form_reg select{
font-size:16px;
line-height:18px;
}
#form_reg .label_input{
margin-right:8px;
*vertical-align:8px;
}
.login_mail, .login_password, #sex {
width:334px;
text-align:center;
padding:8px;
}
#form_btn{
width:389px;
margin:auto;
margin-top:16px;
}
#login_link{
margin-left:36px;
}
#login .btnw{
margin-left:40px;
}
#form_reg .line{
text-align:center;
}
#form_reg h1{
margin:0 auto 64px;
height:54px;
width:467px;
overflow:hidden;
text-align:center;
}
#form_reg #form_reg_h1{
margin-bottom:72px;
background:url(/img/gif/logo.gif) no-repeat;
text-indent:-999px;
}
#form_reg .logo{
background:url(/img/gif/logo.gif) no-repeat;
text-indent:-999px;
height:54px;
}
#login{
width:399px;
margin:auto;
}
#login #form_btn{
width:auto;
}
#form_btn{
line-height:46px;
_line-height:44px;
}
#form_reg .errtip{
width:334px;
margin:auto;
}
#form_reg .errtip{
color:#f00;
padding:0 0 16px 21px;
}
#login .errtip{
color:#f00;
padding:0 0 16px 14px;
}
#sex{
margin-left:63px;
}
.sex input{
vertical-align:0;
}
.sex label{
padding:0 8px;
}
.sex{
width:175px;
text-align:left;
display:inline-block;
}
#sex1{
margin-left:104px
}
#errtip_sex{
text-align:center;
}
.logo_txt{
font-size:14px;
height:432px;
overflow:hidden;
text-align: right;
width:304px;
margin-right:64px;
border-right:1px dotted #ccc;
padding-bottom:30px;
padding-top:4px;
}
.logo_txt .zsite_ico div{
margin-right:128px;
line-height:32px
}
#form_reg .logo_txt p{
line-height:32px;
padding:0;
}
#form_reg .logo_txt .tr{
padding-top:7px;
}
.logo_txt .zsite_ico{
font-size:14px;
text-align:right;
padding:0 32px 32px 0;
}
.logo_txt .zsite_ico  img{
float:right;margin:0 0 0 32px;
}
#zsite_list{
margin-top:-13px;
}

