h1{ 
border-bottom:1px dotted #ccc; 
padding:16px 0; 
font-size: 16px; 
text-align: center; 
} 
#nav2 .verify span{
background:#a10;
color:#fff;
padding:4px 7px;
vertical-align:1px;
font-size: 10px;
}
#nav2 .verify:hover span{
background:#F60;
}
.event_po_head{
padding-bottom:16px;
border-bottom:1px dotted #ccc;
/*
*zoom:1;
*margin-top:-20px;
*padding-bottom:0;
_margin-bottom:22px;
_margin-top:-30px;
*/
}
.event_po{ 
padding-bottom: 27px; 
border-bottom:1px dotted #ccc; 
/*
*zoom:1;
*padding-bottom:1px;
_margin-bottom:22px;
*/
} 
.event_ti{
border:1px dotted #ccc;
border-width:1px 0;
margin-bottom:21px;
margin-top:1px;
padding: 6px 0;
text-align: right;
/*
*zoom:1;
*margin-top:-10px;
_margin-top:0;
*/
} 
.ti_txt{ 
float: left; 
background:url(/img/gif/icons/gif/black/to_size/arrow1_e.gif) no-repeat 0 8px;
font-size: 14px; 
padding-left: 22px; 
} 
.ti_time{ 
color:#000; 
} 
.event_txt{ 
float:left; 
}
.po_name{
font-size:14px;
margin-bottom:8px;
text-align:left;
}
.po_img{
float: left;
margin-top: 10px;
margin-right: 32px;
border: 1px dotted #ccc;
padding: 3px;
width: 159px;
background-color:#f9f9f9;
}
.po_cont_img{
width: 522px;
margin-top: 7px;
}
.po_cont{
margin-top:5px;
}
.po_more{
margin-top:6px;
}
.po_au{
clear: both;
margin-top: 13px;
padding-top: 11px;
}
.po_num{
text-align: left;
padding-bottom: 8px;
}
.po_do a{
margin-right:14px;
}
.po_sh{
margin-left:14px;
}
.po_ma{
background:url(/img/gif/icons/gif/black/to_size/check.gif) no-repeat scroll 100% 5px transparent;
padding-right:17px;
margin-left:14px;
}
.event_cid{
font-size:14px;
}
.say{
margin-bottom:17px;
}
.say_txt{
color:#999;
border:1px dotted #ccc;
border-top:0;
text-align: center;
width: 210px;
height:28px;
margin:0 0 -22px 1px;
vertical-align:-1px;
padding: 7px 3px;
font-size: 14px;
line-height:28px;
overflow: auto;
}
.event_cid .tc{
text-align:center;
color:#999;
border-bottom:1px dotted #ccc;
display:block;
font-size:14px;
padding:16px 0;
}
.event_a{
border-bottom:1px dotted #ccc;
display:block;
font-size:14px;
padding:16px 0;
text-align:right;
color:#999;
}
.event_a span{
*clear:both;
}
.event_cid .now{
color:#000;
}


.pop_say{
position:absolute;
right:0;
z-index:1; 
overflow:hidden;
text-align:left;
width: 458px;
color:#000;
background:#fff;
border:1px dotted #ccc;
border-top:0;
}
.pop_txt{
z-index:1; 
height: 95px;
text-align:left;
width: 444px;
color:#000;
padding:3px 7px;
background:#fff;
border:0;
}
.pop_banner{
right:0;
text-align:left;
border-top:1px dotted #ccc;
z-index:1;
width:458px;
height:30px;
background:#fff;
}
.pop_tip{
float:right;
margin:0 14px;
color:#999;
font-size:14px;
padding:3px;
}
.pop_tip span{
margin:0 3px
}
.pop_submit{
color:#999;
float:right;
padding:3px 10px 2px;
border-left:1px dotted #ccc;
}
.pop_submit:hover{
background:#f9f9f9;
color:#444;
}
.pop_close{
float:left;
padding:3px 10px;
color:#999;
height:8px;
width:8px;
margin-top:11px;
_margin-top:7px;
background:url(/img/gif/icons/gif/light_gray/to_size/close.gif) no-repeat 50% 50%;
}
.pop_close:hover{
background:url(/img/gif/icons/gif/black/to_size/close.gif) no-repeat 50% 50%;
}
#say_g1{
overflow:visible;
}
