.h1about { 
border-bottom:1px dotted #ccc; 
padding:16px 0; 
font-size: 16px; 
text-align: center; 
}
.h1about{ 
width:754px;
background:#fff;
margin-left:32px;
float:left;
position:relative;
z-index:1;
}
.mk_ti{
font-size:16px;
color:#999;
margin:14px 0 0;
padding-bottom:18px;
border-bottom:1px dotted #ccc;
overflow:auto;
text-align:left
}
.mk_txt{
width:699px;
height:140px;
padding:10px;
border:1px dotted #ccc;
font-size:16px;
line-height:28px;
margin-bottom:10px;
}
.mk_tip{
margin-top:8px;
float:left;
font-size:16px;
}
.G3center{
margin-left:auto;
margin-right:auto;
width:721px;
}
.G3about #feeds{
margin-top:27px;
}
.imgabout{
width:211px;
border:1px dotted #ccc;
padding:3px;
border-top:0;
margin-top:-61px;
border-bottom:0;
display:block;
}
.G .G1about{
position:relative;
float:right;
overflow:visible;
} 
.bio{
font-size:14px;
line-height:28px;
margin:0 0 20px 27px ;
}
.bio_a{
margin:0 4px;
}
.bio_link{
text-align:center;
padding-bottom:27px;
border-bottom:1px dotted #ccc;
}
#nav2 .verify span{
background:#a10;
color:#fff;
padding:4px 7px;
vertical-align:1px;
font-size:10px;
/* for fix chrome 中文版 12px 最小字体 */
-webkit-text-size-adjust:none;
}
#nav2 .verify:hover span{
background:#F60;
}
/*
.site_ti{
border:1px dotted #ccc;
border-width:1px 0;
margin-top:1px;
padding:6px 0;
text-align: right;
*zoom:1;
} 
.ti_txt{ 
float: left; 
background:url(/img/gif/icons/gif/black/to_size/arrow1_e.gif) no-repeat 0 8px;
font-size: 14px; 
padding-left: 22px; 
} 
.ti_time{ 
color:#000; 
} 
.site_txt{ 
border-bottom:1px dotted #ccc;
padding-bottom:19px;
margin:19px 0 1px;
}
.po_name{
font-size:14px;
margin-bottom:8px;
text-align:left;
}
.po_img{
float: left;
margin-top: 10px;
margin-right: 32px;
border: 1px dotted #ccc;
padding: 3px;
width: 159px;
background-color:#f9f9f9;
}
.po_cont_img{
width: 522px;
margin-top: 7px;
}
.po_cont{
margin-top:5px;
}
.po_more{
margin-top:6px;
*margin-bottom:-8px;
_margin-bottom:-6px;
}
.po_au{
clear: both;
margin-top: 13px;
padding-top: 11px;
}
.site_num{
text-align:left;
margin-top:14px;
}
.po_do a{
margin-right:14px;
}
.po_sh{
margin-left:14px;
}
.po_ma{
background:url(/img/gif/icons/gif/black/to_size/check.gif) no-repeat scroll 100% 5px transparent;
padding-right:17px;
margin-left:14px;
}
*/
.sitecid{
font-size:14px;
}
.say{
padding-bottom:1px;
border-bottom:1px dotted #ccc;
}
.say_txt{
color:#999;
border:1px dotted #ccc;
text-align: center;
height:27px;
vertical-align:-1px;
padding: 7px 3px;
font-size: 14px;
line-height:27px;
overflow: hidden;
cursor:text;
}
.sitecid .tc, #sidebar_nav .tc{
text-align:center;
}
.site_a{
border-bottom:1px dotted #ccc;
display:block;
font-size:14px;
padding:8px 0;
text-align:right;
color:#999;
}
.site_a span{
*clear:both;
}
.sitecid .now{
color:#000;
}

.pop_say{
position:absolute;
right:0;
top:0;
z-index:1; 
overflow:hidden;
display:none;
text-align:left;
width: 459px;
color:#000;
background:#fff;
border:1px dotted #ccc;
}
.pop_txt{
z-index:1; 
height: 95px;
text-align:left;
width: 445px;
line-height:28px;
color:#000;
padding:3px 7px;
background:#fff;
border:0;
}
.pop_banner{
right:0;
text-align:left;
border-top:1px dotted #ccc;
z-index:1;
width:459px;
height:34px;
background:#fff;
}
.pop_tip{
float:right;
margin:0 14px;
color:#999;
font-size:14px;
padding:3px;
}
.pop_tip span{
margin:0 3px
}
.pop_submit{
color:#999;
float:right;
padding:3px 10px;
border-left:1px dotted #ccc;
}
.pop_submit:hover{
background:#f9f9f9;
color:#444;
}
.pop_close{
float:left;
padding:3px 10px;
color:#999;
height:8px;
width:8px;
margin-top:11px;
_margin-top:7px;
background:url(/img/gif/icons/gif/light_gray/to_size/close.gif) no-repeat 50% 50%;
}
.pop_close:hover{
background:url(/img/gif/icons/gif/black/to_size/close.gif) no-repeat 50% 50%;
}
#say_g1{
overflow:visible;
}
.say_loading{
background:url(/img/gif/loading_bar.gif) no-repeat 50% 50%;
width:26px;
height:26px;
margin-top:2px;
}
.pop_ok{
color:#a10;
}
#sidebar_nav .now{
color:#000
}
.m07{
margin:0 7px
}
#reply_list{
margin-top:27px
}
.split{
margin:0 7px;
}
.site_po{
margin-top:-9px;
padding:0 0 25px;
}
