#invite_form{
width:690px;
margin:auto;
padding-top:14px;
}
.line{margin-top:14px;}
.line input, .line select{padding: 8px;}
.line input{line-height: 20px;}
.member_name,.mail{
border:1px solid #ccc;
padding:7px;
width:320px;
}
.member_name{margin-left:14px;}
