#txt_tip{
display:none;
}
.feedbar a, .vote0 .num{
color:#B2B2B2;
outline:0;
font-family: Verdana, Arial, Helvetica, sans-serif 
}
.vote-1 .num,.vote0 .num,.vote1 .num{
padding:0 3px;
}
.up, .down{
background:url(/img/gif/icons/gif/light_gray/to_size/arrow3_ne.gif) no-repeat 50% 4px;
display:inline-block;
height:5px;
width:5px;
padding:3px 6px;
margin-left:6px;
*margin-bottom:-12px;
}
.down{
margin-right:4px;
background-image:url(/img/gif/icons/gif/light_gray/to_size/arrow3_sw.gif);
margin-left:0;
}

.vote1 .num{color:#FF4500;}
.vote1 .up{
background-image:url(/img/gif/icons/gif/red/to_size/arrow3_ne.gif)
}
.vote-1 .num{color:#0045ff}
.vote-1 .down{
background-image:url(/img/gif/icons/gif/blue/to_size/arrow3_sw.gif)
}

.reply{
padding-right:17px;
background:url(/img/gif/icons/gif/light_gray/to_size/wifi2.gif) 100% 5px no-repeat;
}
/*
.rt,.rtrm{
background: url("/img/gif/rt.gif") no-repeat scroll 0 6px transparent;
display: inline-block; height: 14px; width: 16px; margin-left: 24px;
}
.rtrm{
background-position:-16px 6px;
}
*/
#feed_load{
display:block;
background:#fff;
border:1px dotted #ccc;
border-left:0;
border-right:0;
font-size:16px;
text-align:center;
color:#999;
padding:8px;
margin-bottom:32px
}
#feed_loading, #read_loading{
outline:0;
display:block;
height:32px;
background:url(/img/gif/loading_bar.gif) 50% 50% no-repeat;
margin-bottom:64px;
}
.fdloading{
outline:0;
display:inline-block;
width:56px;
padding-left:70px;
height:28px;
margin-bottom:7px;
background:url(/img/gif/loading_bar.gif) 0 50% no-repeat;
}
#feed_loading, #feed_load{
margin-top:16px;
clear:both;
}

.po_word_txt_sayed{
background: url(/img/gif/sayed.gif) no-repeat 50% 50%;
}

.po_word_txt_bg{
background: url(/img/gif/today.gif) no-repeat 50% 35%;
}


.readl .rtip{
vertical-align:-1px;
margin-left:7px;
color:#999;
}
.readl .zname, .readl .rtip{
font-size:13px;
}
.reada:hover .title, .reada:hover .rtip{
text-shadow:1px 1px 2px #ccc;
}
.readl .fav, .readl .faved, .readl .faving{
float:left;
margin:8px 3px 0 0;
}
.readl a{
color:#999;
}
.reado, .reado span, .reado div{
cursor:pointer;
}
.reado{
height:32px;
}
.readl{
height:32px;
line-height:32px;
border-top: 1px solid #eee;
margin-top: 0;
text-align:right; 
padding: 5px 2px; 
}
.readl .zname{
overflow:hidden;
float:right;
}
.reado{
float:left;
overflow:hidden;
text-align:left;
}

#main_nav_txt{
text-align:left;
border-bottom:0;
padding:0;
width:720px;
overflow:hidden;
}
#main_nav_title{
color:#000;
font-weight:bold;
margin-bottom:20px;
}
#main_nav_opt{
float:right;
}
#main_nav_in{
padding:7px 1px;
background:#fff;
border-bottom: 1px dotted #ccc;
}
.prebody{
padding-top:14px;
margin-top:0;
color:#222;
}
.readx{
display:inline-block;
background:url(/img/gif/back2.gif) no-repeat -22px 0;
padding:0;
width:20px;
vertical-align:-6px;
height:15px;
}
.readx:hover{
background-position:0 0;
}
.readauthor{
text-align:right;
color:#999;
margin:0 0 14px;
}
.readauthor a{
color:#999;
}
.main_nav{
color:#999;
padding: 7px 2px;
}
.main_nav a{
    color:#999;
}
#feeds .readpad .split{
margin:0 14px;
}
.main_nav2{
margin-left:-12px;
}
.main_nav a:hover{
    color:#333;
}
.main_nav .now{
    color:#333;
}
.readpad{
position:relative;
}
.readpad .fdbar{
margin-bottom:0;
padding-top:7px;
margin-top:14px;
}
.fdbar .readx{
    float:left;
    margin-left:1px;
    margin-top:11px;
}
.readpad .fdbar .fdopt{
margin-right:1px;
}
#feeds .readauthor .split{
margin:0 3px;
}
