.feedbar a, .vote0 .num{
color:#B2B2B2;
outline:0;
font-family: Verdana, Arial, Helvetica, sans-serif 
}
.vote-1 .num,.vote0 .num,.vote1 .num{
padding:0 3px;
}
.up, .down{
background:url(/img/gif/icons/gif/light_gray/to_size/arrow3_ne.gif) no-repeat 50% 4px;
display:inline-block;
height:5px;
width:5px;
padding:3px 6px;
margin-left:6px;
*margin-bottom:-12px;
}
.down{
margin-right:4px;
background-image:url(/img/gif/icons/gif/light_gray/to_size/arrow3_sw.gif);
margin-left:0;
}

.vote1 .num{color:#FF4500;}
.vote1 .up{
background-image:url(/img/gif/icons/gif/red/to_size/arrow3_ne.gif)
}
.vote-1 .num{color:#0045ff}
.vote-1 .down{
background-image:url(/img/gif/icons/gif/blue/to_size/arrow3_sw.gif)
}

.reply{
padding-right:17px;
background:url(/img/gif/icons/gif/light_gray/to_size/wifi2.gif) 100% 5px no-repeat;
}
/*
.rt,.rtrm{
background: url("/img/gif/rt.gif") no-repeat scroll 0 6px transparent;
display: inline-block; height: 14px; width: 16px; margin-left: 24px;
}
.rtrm{
background-position:-16px 6px;
}
*/
#feed_load{
display:block;
background:#fff;
border:1px dotted #ccc;
font-size:16px;
text-align:center;
color:#999;
padding:8px;
margin-bottom:32px
}
#feed_loading{
outline:0;
display:block;
height:8px;
background:url(/img/gif/loading_bar.gif) 50% 50% no-repeat;
margin-bottom:64px;
}
.fdloading{
outline:0;
display:inline-block;
width:56px;
padding-left:70px;
height:28px;
margin-bottom:7px;
background:url(/img/gif/loading_bar.gif) 0 50% no-repeat;
}
#feed_loading, #feed_load{
margin-top:16px;
clear:both;
}

.feed_event_img{
margin-top: 7px; height: 162px; width: 162px; float: right; margin-left: 16px;
}
.feed_event_prop{
margin-top:-8px;
margin-bottom:14px
}
.cid68 .fdtxt, .cid68 .fdpre{
overflow:visible;
}
.fdall{
margin-top:3px;
}
.fdall a{
margin-right:14px;
}
.feed_event_pid{
margin-bottom:6px
}
.split{
margin:0 14px
}

.fdopt a{
color:#999;
}
.fdopt a:hover{
color:#a10;
}




