#feed_loading{
outline:0;
display:block;
height:8px;
background:url(/img/gif/loading_bar.gif) 50% 50% no-repeat;
}
.feedbar a, .vote0 .num{
color:#B2B2B2;
outline:0;
font-family: Verdana, Arial, Helvetica, sans-serif 
}
.vote-1 .num,.vote0 .num,.vote1 .num{
padding:0 3px;
}
.vote-1 a,.vote0 a,.vote1 a{
padding:0 3px;
color:#B2B2B2;
}
.vote1 .num,.vote1 .up{color:#FF4500}
.vote-1 .num,.vote-1 .down{color:#0045ff}
.reply{
padding-right:13px;
background:url(/img/gif/reply.gif) 100% 4px no-repeat;
}
.rt,.rted{
background: url("/img/gif/rt.gif") no-repeat scroll 0 6px transparent;
display: inline-block; height: 14px; width: 16px; margin-left: 24px;
}
.rted{
background-position:-16px 6px;
}

