.search{
float:right;
margin-top:-2px;
margin-right:16px;
*margin-right:6px;
}
.search input{
height:26px;
line-height:26px;
padding:1px 3px;
vertical-align:middle;
border:1px solid #ddd;
width:100px;
}
.search .search_btn{
background:url(/img/png/search_btn.png) no-repeat;
width:31px;height:30px;border:none;cursor:pointer;
}
.mtb32{
margin:0 0 32px;
}
.HN{
_margin-top:12px;
}
.C{
padding-bottom:16px;
}
