#form_btn{
text-align:left;
}
#form_reg .tc{
text-align:left;
}
.img{
text-align:center;
float:right;
margin-top:16px;
display:block;
}
.img img{
padding-bottom:12px;
}
.img a{
font-size:16px;
display:block;
}
#txt{
height:150px;
width:960px
}
.saved{
text-align:center;
padding:16px;
font-size:16px;
margin-bottom:32px;
border-bottom:1px dotted #ccc;
}

