.fdh,.fdtxtin{
margin-bottom:0
}
.fdimg
{
    margin-top:7px;
    max-width: 100%;
}

.buzz_win_reply .buzz_w, .buzz_win_at .buzz_w{
background:#fff;
padding-left:0
}
.buzz_win_reply .buzz_x, .buzz_win_at .buzz_x{
    display:inline-block;
    height:14px;
    width:17px;
    background:url(/img/gif/x2.gif) no-repeat 4px 5px;
    _background-position:-50px 5px;
}
.buzz_win_reply .buzz_w:hover .buzz_x, .buzz_win_at .buzz_w:hover .buzz_x{
    background-position:-50px 5px;
}
.buzz_win_reply .buzz_w .buzz_x:hover, .buzz_win_at .buzz_w .buzz_x:hover{
    background-position:-21px 5px;
}
.buzz_win_reply .buzz_au, .buzz_win_at .buzz_au{
    margin-left:17px;
    text-align:right;
}
.buzzX
{
    background:url(/img/gif/x2.gif) no-repeat -50px 9px;
    height:28px;
    width:16px;
    display:none;
    float:right;
    _display:inline-block;
}
.buzz_h1:hover .buzzX{
    display:inline-block;
}
.buzz_h1:hover .buzzX:hover{
    background-position:-21px 9px;
}
.txta
{
    width:100%;
}
#feeds .fcmtxt{
width:auto;
margin:14px 0;
padding:0 2px;
}
.say_type .split{
margin:0 7px;
}
.buzz_c
{
    margin-left:17px;
    margin-bottom:10px;
}
.site_po {
    margin: -6px 0 27px 0;
}
.fdtxt
{
    margin:0;
    padding-top:3px;
    _padding-top:7px;
}
#po_ext{
    height: 32px;
    margin-top: 2px;
}
#txt_tip{
    margin-right:10px;
}
#H .D_nav
{
    margin:0;
    position:relative;
    right:-4px;
}
#H .H
{
    width:auto;
    max-width:1296px;
}
#H .site{
    margin-left:12px;
}
#H .D_na
{
    margin-right:0;
}
.fav_loading
{
    background: url(/img/gif/loading12.gif) 0 0 #fff ;
    width: 14px;
    height: 14px;
    top: 2px;
    position: relative;

}
.delbtn a
{
    display:block;
    height:16px;
    width:16px;
}
.delbtn:hover
{
    background: url("/img/png/plus11.png") repeat scroll 240px 41px ;
}
.show_x
{
    background: url("/img/png/plus11.png") repeat scroll 220px 41px ;
}
.delbtn
{
    height: 16px; width: 16px; position: relative; top: 18px; left: 8px;
    _margin:-60px 0 0 10px;
}
li
{
    line-height:14px;
}
.feedP
{
    margin-right:239px;
}
.Iwp{
    margin:36px auto 0;
    max-width:1296px;
    overflow:hidden;
}
.form_wrap{
    overflow:auto;
}
#po_word_form{
    padding-left:0;
}
.Lwp{
    width:100%;
    float:left;
    margin-left:12px;
    margin-right:-100px;
}
#feeds{
    clear:both;
    overflow:hidden;
}
#readl .zname{
display:none;
}
.zname{
display:inline;
margin-left:7px;
}
.zname span{
border-bottom:1px dotted #aaa;
display:inline-block;
width:21px;
margin-right: 7px;
vertical-align: 3px;
}
.zname a{
color:#999;
}
#feeds .sdw .fdbar{
padding-top:9px;
margin-top:10px;
overflow:auto;
text-align:left;
}
.zname a:hover{
color:#d20
}
.imgw{line-height:0}
.feedB{
    width: 219px;
    padding-left: 24px;
    float:right;
    margin-bottom: 64px;
    background:url(/img/gif/comment.gif) no-repeat -48px 20px;
    position: relative;
}
.feedL .feedB{
float:left;
background-position:228px 20px;
padding-right:24px;
padding-left:0;
margin-right:0;
    margin-bottom:0;
}
.feedB,.feedS{
    margin-right:300px;
}
.feedL .feedP{
    margin-right:0;
    margin-left:242px;
}
#feed .sd{
padding-top:14px;
}
.sdw{
    box-shadow:2px 2px 1px #f3f3f3;
    background:none;
    padding:0;
}
.feed_li{
    clear:both;
    overflow:hidden;
}
.fdbar .say_btn{
    background:#fff url(/img/png/btn.png);
    color: #999;
    font-size: 14px;
    padding:0 10px;
    margin-top:-1px;
    display:inline-block;
    border:1px solid #ccc;
}
.fdbar .say_btn:hover{
    border-color:#aaa;
    color:#000;
    background:#f3f3f3 url(/img/png/btn.png) 0 30px;
}
.fdbar{
    padding-top:12px;
    padding-bottom:4px;
}
.fdbar .fcma{
    color:#666;
}
.fcma:hover{
    text-decoration:underline;
}
.say_type{
    display:block;
    float:left;
}
.Rwp{
    float:left;
    width:250px;
    margin:0 12px 0 -174px;
    _margin:0 0 0 -194px;
    font-size:12px;
    font-family:'Trebuchet MS', Helvetica, sans-serif;
}
.split
{
    margin: 0 11px;
}
tr,td,table
{
    border-spacing:0;
}
ul
{
    margin-left:30px
}
.dot_line
{
    border-bottom: 1px dotted #CCCCCC;
    margin-bottom:-10px;
    padding-bottom:10px;
}

.buzz_cou
{
    margin:3px 0
}
#txt_tip span span{
margin:0 3px;
}
#saying{
background:url(/img/gif/loading_bar.gif);
height:8px;
width:26px;
margin-right:12px;
display:inline-block;
}
.m01{
margin:0 1px;
}
#feeds .sdw{
    margin-bottom:16px
}
#feeds .sdwb{
    margin-bottom:32px;
}
#feeds .txta{
    border:1px dotted #ccc;
    padding:2px 3px;
}
#feeds .fcmtxt{
    height:auto;
    border:0;margin:0 -1px 0 0;padding:0 9px 0 0;
}
.bkimg{
width:112px;padding:3px;height:131px
}
.buzz_win_book .sdw{
padding:0;
float:left;
width:120px;
margin-bottom:10px;
margin-left:10px;
}
.buzz_win_book{
margin-left:-10px;
margin-top:2px;
}
.buzz_win_book .sd{
padding:0
}
.buzz_win_book a:hover{
    color:#000;
}
.buzz_win_book a{
    color:#000;
    line-height:0;
    display:block;
}
.buzz_win_book .bkname{
text-align:center;
padding:3px;
border-bottom:1px solid #eee;
}
.buzz_win_book .bkname, .buzz_win_book .bktxt{
line-height:18px;
}
.buzz_win_book .bktxt{
padding:3px 6px 6px 5px;
border-top:1px solid #eee;
}
.unread{
margin-left:17px
}
#feeds .video{
width:100%;
}
.fdall{
margin-bottom:3px
}
#feeds .sd{
padding:10px 17px 7px
}
#feeds .fdtxt0{
min-height:49px;
}
#po_word_txt{
    width:100%;
    border:0;
    min-height:47px;
    height:47px;
    _width:90%;
}
.feedS{
    _margin-right:320px
}
#feeds .feedB{
    _margin-right:160px
}
.fdbar .L{
_margin-top:5px;
}
.buzz_av a:visited, .buzz_win_reply a:visited{
color:#99a;
}

.b1024 .feedB{
display:none;
}
.b1024 .feedP{
margin-right:0;
}
.b1024 .feedL .feedP{
margin-left:0;
}
.b1024 #feeds .sdw{
margin-bottom:3px;
}
.b1024 #feeds .sdwb{
margin-bottom:32px;
}
#feed_load, #feed_loading{
margin-right:300px
}
#reply_name{
text-align:center;
display:block;
border-bottom:1px dotted #ccc;
padding-bottom:14px;
color:#004276;
padding-top:2px;
}
#reply_reply_body{
height:90px;
display:block;
overflow:auto;
margin-bottom:2px;
padding-right:14px;
}
.reply_reply_loading{
background:url(/img/gif/loading_bar.gif) no-repeat 50% 50%;
}
#reply_reply_pop{
padding:0 3px;
}
#reply_reply_pop textarea{
border:1px dotted #ccc;width:715px;height:80px;
padding:2px 3px;
margin-bottom:7px;
}

.feedrec .feedB{
background:transparent;
}
#feeds .feedrec .sd{
padding: 0;
}
.feedrec .feedB .sd{
line-height:0;
}
.feedrec .feedB .sd img{
width:211px; 
padding:3px;
height:294px;
display:block;
}
.recimgtit{
font-size: 12px;
line-height: 22px; 
text-align: center; 
margin-top: 2px; padding: 3px; 
background:#f9f9f9; 
color:#666; 
border-top:1px solid #eee;
}
.feedx{
float:right;
height:28px;
width:23px;
background:url(/img/gif/x2.gif) no-repeat -51px 14px;
}
.feedx:hover{
background-position:-22px 14px;
}
.feedtab a{
display:inline-block;
color:#999;
border-right:1px solid #eee;
}
.feedtab{border-bottom:1px solid #f3f3f3;}
.feedrec .readl{
padding:2px 12px;
}
.feedtab a{
padding:3px 14px;
}

#rowrec .feedB{
padding-bottom:16px;
margin-bottom:16px;
}

.fdbar .TPH{
color:#222;
}
ul.tag-list{
margin-left:0;
}
.fdbar .po_tag_list{
margin-left:0;
}


.side_pic_wrap{
width:250px;
}
.side_pic_main{
padding:12px;
}
.side_pic_a{
display: inline-block;
font-size: 12px;
padding: 0 28px;
border-left: 1px solid #e9e9e9;
font-size:13px;
color:#999;
}
.side_pic_a:hover{
background:#f9f9f9;
color:#000;
}
.side_pic_wrap{
opacity: 1; border: 1px solid #e9e9e9; box-shadow: -1px 1px 2px #e9e9e9;margin-bottom:32px;
}
.side_pic_wrap:hover{
opacity:0.9;
}
.side_pic_opt{
border-top: 1px solid #e9e9e9; margin-left:-1px;
}
.side_pic_img:hover{
cursor:pointer;
}
.side_pic_content{
line-height: 24px;
font-size: 12px;
color: #444;
}
.picwall_title{
margin:12px 0;
}
