#rec_title
{
    display:none;
}
#rec_wrapper{
    height:62px;
    display:none;
}
.buzz_c
{
    margin-left:17px;
}
.buzz_win a
{
    color:#004276;
}
.site_po {
    margin-top: -6px!important;
}
.fdtxt
{
    height:150px;
}
#po_ext{
    height: 32px;
    margin-top: 2px;
}
#txt_tip{
    margin:15px;
}
.site_po
{
    margin-left: 260px;
}
#H .D_nav
{
    margin:0;
}
#H .H
{
    max-width:1338px;
    width:auto!important;
}
#H .D_na
{
    margin-right:0;
}
.fav_loading
{
    background: url("http://s4.42qu.us/img/gif/loading12.gif") 0px 0px white !important;
    width: 14px!important;
    height: 14px!important;
    top: 2px;
    position: relative;

}
.delbtn a
{
    display:block;
    height:16px;
    width:16px;
}
.delbtn:hover
{
    background: url("/img/png/plus11.png") repeat scroll 240px 41px ;
}
.show_x
{
    background: url("/img/png/plus11.png") repeat scroll 220px 41px ;
}
.delbtn
{
    height: 16px; width: 16px; position: relative; top: 18px; left: 8px;
    _margin:-60px 0 0 10px;
}
li
{
    line-height:14px;
}
.feed_part
{
    margin-left:242px;
}
.index_wrap{
    margin:36px auto 0;
    max-width:1338px;
    overflow:hidden;
}
.form_wrap{
    overflow:auto;
}
#po_word_form{
    padding-left:0;
}
.left_wrap{
    width:100%;
    float:left;
    margin-left:12px;
    margin-right:-100px;
}
#feeds{
    clear:both;
    margin-top:32px;
    overflow:hidden;
}
.feed_left{
    text-align: right;
    width: 219px;
    padding-right: 24px;
    margin-bottom: 32px;
    background: url(http://s4.42qu.us/img/gif/comment.gif) no-repeat 228px 20px;
    position: relative;
    margin-right: -1px;
    float: left;
}
.feed_right{
    margin-right:335px;
}
.sdw{
    box-shadow:2px 2px 1px #f3f3f3;
    background:none;
    padding:0;
}
.feed_li{
    clear:both;
    overflow:hidden;
}
.fdbar .say_btn{
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(#FFFFFF, #F3F3F3);
    border: 1px solid #CCCCCC;
    color: #666666;
    font-size: 14px;
    padding: 2px 14px;
    display:inline-block;
}
.fdbar .say_btn:hover{
    color:#000;
    background-image:-moz-linear-gradient(#F3F3F3, #FFFFFF);
    background-color:#f3f3f3;
}
.saying{
    background:none!important;
}
.say_txt{
    height: 96px;
    border: 0;
    background: url(http://s4.42qu.us/img/gif/today.gif) no-repeat 50% 50%;
    width: 100%;
}
}
.split{
    margin:0 12px;
}
.fdbar{
    padding-top:12px;
    padding-bottom:4px;
}
.fdbar .fcma{
    color:#666;
}
.fcma:hover{
    text-decoration:underline;
}
.say_type{
    display:block;
    float:left;
    margin-top:2px;
}
.right_wrap{
    float:left;
    width:250px;
    margin:0 12px 0 -190px;
    _margin:0 12px 0 -210px;
    font-size:12px;
}
.right_title{
    border: 0pt none; text-align: left; font-size: 14px; background: url("http://s4.42qu.us/img/gif/adot.gif") no-repeat scroll -4px 7px transparent;padding-left:16px;color:#000;
}
.split
{
    margin: 0 12px;
}
.site_avatar{
    width:48px;
    height:48px;
}
.site_name{
    background:#fff;
    padding-right:2px;
}
.site_title{
    overflow:auto;
    margin-top:12px;
}
.site_left{
    float:left;
    margin-left:30px;
    _margin-left:23px;
}
.site_img{
    margin-top:2px;
    clear:both;
}
.site_info{
    float:left;
    overflow:hidden;
    width:180px;
    margin-left:12px;
    margin-top:0;
    line-height:20px;
}
.site_bio{
    color:#999;
    margin-top:4px;
    height:40px;
    padding-top:10px;
    margin-top:-9px;
    border-top:1px dotted #ccc;
}
.site_txt_a{
    height:32px;
    overflow:hidden;
    display:block;
}
.site_fav_a{
    display:inline-block;
    width:20px;
    height:16px;
    margin-top:2px;
    background:url("/img/png/plus.png") #fff no-repeat 0 -16px;
    float:right;
    _margin-top:-17px;
}
.site_fav_a:hover{
    background:url("/img/png/plus.png") no-repeat 0 0px #fff;
}
.site_faved
{
    background:url("/img/png/plus.png") #fff no-repeat 0 -32px;
}
.site_fav_a:visited{
}
.site_txt{
    overflow:hidden;
    float:left;
    width:260px;
    margin-left:12px;
}
.site_rec{
    margin-top:16px;
    margin-bottom:18px;
}
.site_li{
    margin-top:16px;
    margin-left:-30px;
    clear:both;
    width:290px;
    overflow:auto;
}
tr,td,table
{
    border-spacing:0;
}
ul
{
    margin-left:30px
}
.dot_line
{
    border-bottom: 1px dotted #CCCCCC;
    margin-bottom:-10px;
    padding-bottom:10px;
}
.buzz_text *
{
    background:white;
    overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
}

.buzz_win
{
    padding:7px 0 0 0;
}
.buzz_w
{
    line-height: 22px;
    /*border-bottom: 1px dotted #CCC;*/
    padding-bottom: 8px;
    margin-bottom: 8px;
    padding-left: 17px;
    background: url("/img/png/list_style_disc.png") no-repeat;
}
.buzz_au{
    color:#999
}
.buzz_cou
{
    margin:3px 0
}
