.C{
margin:auto;
width: 972px;
}
.c:after,.G:after{
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.c,.G{
	display: block;
}

.G {position:relative; _height:0;}
.G {margin-left:-32px;}

.C .G,.G4 .G {width: 1004px;}
.G3 .G {width: 753px;}
.G2 .G {width: 502px;}
.G1 .G {width: 251px;}

.G1,.G2,.G3,.G4{
float:left;
position:relative;
overflow:hidden;
padding-left:32px; 
}
.G1{width: 219px;}
.G2{width: 470px;}
.G3{width: 721px;}
.G4{width: 972px;}

.B{margin-left:-12px}
.C .B,.B24 .B{width: 984px}
.B23 .B{width: 943px}
.B22 .B{width: 902px}
.B21 .B{width: 861px}
.B20 .B{width: 820px}
.B19 .B{width: 779px}
.B18 .B{width: 738px}
.B17 .B{width: 697px}
.B16 .B{width: 656px}
.B15 .B{width: 615px}
.B14 .B{width: 574px}
.B13 .B{width: 533px}
.B12 .B{width: 492px}
.B11 .B{width: 451px}
.B10 .B{width: 410px}
.B9 .B{width: 369px}
.B8 .B{width: 328px}
.B7 .B{width: 287px}
.B6 .B{width: 246px}
.B5 .B{width: 205px}
.B4 .B{width: 164px}
.B3 .B{width: 123px}
.B2 .B{width: 82px}
.B1 .B{width: 41px}

.B1, .B2, .B3, .B4, .B5, .B6, .B7, .B8, .B9, .B10, .B11, .B12, .B13, .B14, .B15, .B16, .B17, .B18, .B19, .B20, .B21, .B22, .B23, .B24 {
padding-left:12px; float:left; position:relative;
overflow:hidden;
}
.B1{width: 29px}
.B2{width: 70px}
.B3{width: 111px}
.B4{width: 152px}
.B5{width: 193px}
.B6{width: 234px}
.B7{width: 275px}
.B8{width: 316px}
.B9{width: 357px}
.B10{width: 398px}
.B11{width: 439px}
.B12{width: 480px}
.B13{width: 521px}
.B14{width: 562px}
.B15{width: 603px}
.B16{width: 644px}
.B17{width: 685px}
.B18{width: 726px}
.B19{width: 767px}
.B20{width: 808px}
.B21{width: 849px}
.B22{width: 890px}
.B23{width: 931px}
.B24{width: 972px}



