.po_word_out2{
background: url(/img/png/comment.png) no-repeat scroll -178px 19px;
padding-left: 19px;
width: 341px; 
float: right;
}
.po_word_out1{
border:7px solid #eee;
border-width:6px 7px 7px 6px;
}
.po_word{
border:1px solid #ccc;
height:82px;
border-width:1px 0 0 1px;
}
.po_word_txt{
background:transparent;
resize:none;
outline:0;
display: inline; 
color: #000; 
padding:0 4px;
border:1px solid #EFEFEF;
*border:0;
height:81px;
line-height:26px; 
width: 323px; 
}
#po_word_ico{
float:left;
}
#po_word_btn .btnw{
float:right;
margin-top:-3px;
}
#po_word_btn{
width:470px;
text-align:right;
margin-top:16px;
float:right;
_padding-top:3px;
height:42px;
_margin-bottom:-42px;
}
#po_all a{
color:#666
}
#po_all .split{
margin:0 12px
}
#po_all a:hover{
color:#a10;
text-decoration:underline
}
#po_ext{
display:none;
cursor:pointer;
background:url(/img/gif/nnr9.gif) no-repeat 50% 50%;
}
#po_ext:hover{
background-image:url(/img/gif/nnr.gif);
}
#po_all,#po_ext{
padding:0 21px;
margin-left:0;
color:#666;
margin-top:-2px; 
line-height:41px;
height:41px;float: left;
border:1px dotted #ccc;
_border-style:solid;
}
.po_word_txt_bg{
background: url(/img/gif/today.gif) no-repeat 50% 50%;
}
.live_top,#main{
margin-top:36px;
}
#po_word_tip span{
margin:3px;
_vertical-align:2px;
}
#po_word_tip{
margin-right:24px;
color:#999;
vertical-align:top;
#vertical-align:7px;
float:right;
}
#feeds .G3{
overflow:hidden;
}
#feeds .sdw{
margin-bottom:36px;
}
#feeds .G1{
background:url(/img/gif/comment.gif) no-repeat -51px 28px;
*background-position: -50px 28px;
margin-left:-2px;
padding-left:34px;
}
#feeds .G1 .c0{
display:block:
outline:0;
}
.fdimga{
display:block;
text-align:center;
}
#feeds .fdimg{
margin-bottom:8px;
}
#feeds .fdh{
margin-bottom:14px;
}
.buzz{
border:1px dotted #ccc;
_border:1px solid #e0e0e0;
}
.buzz p{
padding:4px 14px;
border-bottom:1px dotted #ccc;
_border-bottom:1px solid #e0e0e0;
_zoom:1;
}
.buzz .tr{
border-bottom:0;
}
.buzz a{
color:#2970A6;
}
.buzz .unread{
color:#999;
}
.buzz{
color:#999;
}
.mg03{
margin:0 3px;
}
.fdpre p{
line-height:28px;
padding-bottom:14px;
}
.fdpre{
margin-bottom:-12px;
}
.fdtxt{
overflow:hidden;
}
#feeds .tag{
color:#999;
margin-left:14px
}
#feeds .tag:hover{
color:#a10;
}
.fdtxtin{
margin-bottom:6px;
}
#buzzrm{
float:left;
display:inline-block;
background:url(/img/gif/x.gif) no-repeat 0 50%;
height:28px;
width:9px;
padding-right:5px;
}
.liveimg{
margin-bottom:32px;
}
#buzz{
padding-bottom:36px;
_zoom:1;
}
.fdvideo{
display:block;
margin:12px 0 6px;
padding-left:33px;
line-height:27px;
color:#000;
background:url(/img/gif/redplay.gif) no-repeat;
}
.fdvideo:hover{
color:#a10;
}
.fdswf .video{
width:677px;
height:553px;
margin:14px 0 8px;
}
