.rel
{
    border-bottom: 1px dotted #CCC;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.syncp input{
vertical-align:-1px;
}
.syncp label{
margin-left:5px;
}
.syncp
{
vertical-align:11px;
font-size:16px;
margin-left:15px;
}
#TW{
    padding-bottom:48px;
    _padding-bottom:0;
}
#T{
    text-align:center;
    padding:7px;
    background:#000;
    color:#fff;
    font-size:14px;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.5);
    background-image:-webkit-gradient(linear,0 0, 0 0,from(#333), to(#000));
    background-image:-moz-linear-gradient(center top, #333, #000) ;
    margin-bottom:3px;
}
#TW #T{
    position:fixed;
    width:100%;
    z-index:50;
}
#T a{
    color: #ffe000;
}
#TX{
    color: #000;
    background: url(/img/gif/icons/gif/white/to_size/close.gif) no-repeat;
    height: 16px;
    display: inline-block;
    width: 16px;
    margin-left: 14px;
    vertical-align: -7px;
}
#H{
    font-size:16px;
    border-bottom:1px dotted #ccc;
    padding:18px 0 20px;
    margin-bottom:0;
    text-align:center;
    _padding:18px 0 0;
    _height:48px;
}
.HN{
    float:right;
    margin-right:-16px;
}
#H .H{
    width: 972px;
    margin: auto;
    text-align: left;
}
#H .tc{
    text-align: center;
    *padding-bottom:22px;
}
#H a{
    color:#999;
    text-decoration:none;
    color:#444;
}
#H .site:hover{
    text-decoration:underline
}
#H .site{
    font-size: 16px;
    font-family: Trebuchet MS;
    color: #d10;
    margin-right:16px;
}

#H .D_nav{
    margin-right:-16px;
}

#H .D div a:hover{
    text-decoration:none;
    background:#f9f9f9;
    color:#444;
}
#H .D div a{
    display:block;
    color:#999;
    width:60px;
    text-align:center;
    border-bottom:1px dotted #eee;
    padding:7px 0;
    background:#fff;
}
#DL{
display:inline;
}
#H .DA, #DL a{
    padding:16px;
    color:#999;
}
#H .DA:hover, #DL a:hover{
    color:#000;
}
#H .D{
    *z-index:999;
    position:relative;
    float:right;
}
#H .D div{
    padding-bottom:1px;
    position:absolute;
    margin-top:5px;
    *margin-top:42px;
    right:0;
    border:1px solid #eee;
    background:#fafafa; 
    z-index:998; 
    display:none;
}
#H .notice span{
    line-height:12px;background:#d10;
    position:absolute;
    color:#fff;margin-left:3px;
    font-size:10px;padding:3px 6px;margin-top: -4px;
    font-family:Tahoma,Geneva,sans-serif;;
}
#H .notice:hover span{
    background:#f60;
}


.btnw{
    border: 1px solid #ccc;
/*
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #eee;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #eee;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #eee;
*/
    height:42px;
    display:inline-block;
}
.btn::-moz-focus-inner {
  border: 0;
}
.btnw button{
z-index: 1;
overflow: visible; 
display: inline-block; 
border:0;
margin: 0;
text-align: center;
white-space: nowrap; 
cursor: pointer; 
/* outline: none; */
color: #555; 
background-color: #fff;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f3f3f3));
background-image: -moz-linear-gradient(#ffffff, #f3f3f3);
background-image: -o-linear-gradient(#ffffff, #f3f3f3);
background-image: linear-gradient(#ffffff, #f3f3f3);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f3f3f3'); /* for IE 6 - 9 */
/* IE hacks */
zoom: 1; 
*display: inline; 
font-size:16px;
text-align:center;
overflow:visible; /* IE6/IE7中，根据内容的多少将自动产生一定程度类似padding-left与padding-right的值，此处用以解决该问题 */
height:42px; /* select在12px的状态下，IE浏览器中的默认高度为21px，并且height属性在select上于IE6是无效的，于IE7，在外观上是无效的，如需考虑与select垂直对齐的情况，21px的高度是合适的选择 */
padding:0 28px;
*padding:0 27px; /* IE6、IE7中，会在紧贴边框的位置产生1px的与背景相同的内边框，其实际宽度会比其他浏览器多出1px */
line-height:41px;
padding-bottom:2px;
line-height:43px\9; 
_padding-top:5px; 
_line-height:16px; /* 微调IE6与IE7中文字在按钮中显示的位置 */
vertical-align:text-bottom; /* 解决IE8中，Arial字体设置时，纯中文按钮与非纯中文按钮对齐的问题，这个对齐的方式可以根据需要自行改变。 */
*vertical-align:auto; /* IE6的按钮中文字会受到vertical-align:middle;影响，IE7vertical-align:middle;并且字符集为gb系列时会向上向下分别产生1px的边距。 */
}
.btnw button:hover{
color:#000;
}
.btnw button:active{
color:#666;
background-color: #f3f3f3;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#ffffff));
background-image: -moz-linear-gradient(#f3f3f3, #ffffff);
background-image: -o-linear-gradient(#f3f3f3, #ffffff);
background-image: linear-gradient(#f3f3f3, #ffffff);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#ffffff'); /* for IE 6 - 9 */
}

@-moz-document domain(){
.btnw button  {
    padding:0 27px 0 27px; /* FF3很奇怪，左右比一般浏览器都多出2px */
}
}
.btns{
line-height:46px;
_line-height:44px;
}
.placeholder{
color:#999;
}
.sd{
background:#fff;
border:1px solid #e9e9e9;
*border:0;
padding:16px 20px 7px;
}
.sdw{
box-shadow: -1px 2px 2px #f3f3f3;
background:#f6f6f6;
*background:#fff;
*border:1px solid #e9e9e9;
padding:1px;
margin-bottom:32px;
}
.sd .bar{
text-align:right;
padding-top:10px;
border-top:1px solid #e9e9e9;
margin-top:14px;
color:#999;
}
.sd .bar a{
color:#999;
}
.fancyreply{
width:470px;padding:8px 16px 0 14px
}
.fancyreply h3{
font-size:16px;margin-bottom:7px
}
.fancyreply textarea{
width:461px;
height:200px;
font-size:16px;padding:2px 3px;margin:5px 0 10px;
}
.fancyban a{
color:#00f;
}
.fancyban{
padding:16px;
width:225px;
text-align:ter;
font-size:16px;
}
#follow_secret_span{
float:left;
margin-right:14px;
margin-left:252px
}
#follow_reply_secret{
margin-right:7px;
vertical-align:-1px;
}

.page721 .page{
padding-top:36px;
}
.page721{
width:721px;margin:auto;padding:36px 0 64px;
}
pre p, pre .p{
    line-height:28px;
    padding-bottom:14px;
}

.back_a{
float:left;
width:52px;
height:62px;
margin-top:88px;
background:url(/img/gif/p.gif);
position:fixed;
_position:absolute;
}
#po_pop_txt{
font-size:16px;padding:2px;width:470px;border: 1px dotted #CCC;
height:150px;padding:7px
}
#po_pop_name{
font-size:16px;padding:7px;width:470px;border: 1px dotted #CCC;border-bottom: 0 none;
}
.po_pop_tip{
padding:0 10px 5px;
}
.po_pop_form{
font-size:16px;width:500px;
padding:10px 12px 0 7px;
}
.po_pop_form .btns{
padding:7px;margin-left:3px;
}
#po_pop_rm,#po_pop_error{
float:right;line-height:45px
}
#po_pop_error{
color:#f00;
}
#po_pop_main{
padding:10px;
}
.zsite_mb64{
margin-top:32px;
padding-bottom:64px;
}
#po_video{
font-size:16px;
padding:7px;
width:470px;
border:1px solid #ccc;
margin-bottom:10px;
}
#po_photo, #po_audio{
margin-bottom:20px;
}
.noticeA:visited{
color:#999;
}

.colon{
display:inline-block;
width:20px;
text-align:center;
}
.ml48{
margin-left: 48px;
}
.ml14{
margin-left:14px;
}
.ml20{
margin-left:20px;
}
.mt14{
margin-top:14px
}

.event_page{
margin-left: 125px; margin-bottom: 28px;
}

.event_img{
float:left; margin-right: 36px;
}

.event_txt{
float: left; margin-top: -7px;
}

.po_name{
text-align: left; font-size: 14px; margin-top: 4px; margin-bottom: 14px;
}
.mt28{
margin-top:28px;
}
#form3{
margin-top:-8px;
}
