.fullscreen{
    width:470px;
    font-size:16px;
    margin:auto;
}
.fullscreen label{
    width:100px;
    display:inline-block;
    text-align:right;
    margin-right:7px
}
#amount{
    margin-right:14px;
    width:258px;
}
.fullscreen input{
    width:300px;
    padding:7px;
}
.btns{
    padding-top:7px;
}
#amount{
    text-align:right;
    width:50px
}
.btns,#tax,.errtip{
    margin-left:107px;
}
#tax,.item{
    margin-bottom:28px;
}
#tax{
    color:#999;
    font-size:14px;
}
#txt_item, #account_item{
    margin-bottom:3px;
}
.errtip{
    margin-top:3px;
    color:#d10;
}
.fullscreen h1{ 
    border-bottom:1px dotted #ccc;
    text-align:center;
    margin-bottom:32px;
    padding: 16px;
}
#txt{
    width:300px;
    height:100px;
    padding:7px;
    font-size:16px;
}
#secret{
    width:auto;
    margin-right:8px;
    vertical-align:-1px;
}
#secret_item{
    margin-left:60px;
}

