.po_body{
    padding-top:32px;
}
.po_body h1{
    text-align:center;
    font-size:28px;
    margin:16px 0 48px;
    line-height:48px;
}
#po_rec_name{
    line-height: 28px!important;
}
.po_body #po_answer_name,.po_body #po_rec_name{
    font-size:14px;
    margin:0 0 22px;
    padding-bottom:24px;
    line-height:16px;
    text-align:left;
    border-bottom:1px dotted #ccc;
    font-family:inherit;
}
.w721,.po_body .prebody{
    width:721px;
    margin:auto;
}
#reply_txt{
text-align:left;
width:703px;
padding:6px 8px;
margin:0 auto 8px;
height:100px;
border:1px solid #ccc;
}
#txt_form{
width:721px;
margin:0 auto 2px;
*margin:0 auto;
}
#txt_form textarea{
border: 1px dotted #ccc;
}
#txt_form{
text-align:right;
}
#reply_list{
margin:0 auto 2px;
border: 1px dotted #ccc;
padding: 0 16px;
width: 687px;
}
.rm{
float:left;
color:#999;
}
.reply_a{
margin-right:48px;
vertical-align:10px;
font-size:16px;
}
.po_bar1{
margin-top:28px;
}
.po_bar{
text-align:right;
*zoom:1;
}
.bar .edit{
float:left;
}
#secret_span label{
*vertical-align:-1px;
}
#secret_span{
vertical-align:top;
*vertical-align:9px;
float:right;
}
#secret{
vertical-align:-1px
}
#secret_label{
margin-right:32px;
}
.btns{
line-height:46px;
}
#question_submit{
float:right;
}
.qsnum{
padding:0 3px;
}
.sprev , .snext{
position:fixed;
_position:absolute;
background:url(/img/gif/lt3.gif) no-repeat;
width:21px;
height:46px;
top:300px;
}
.sprev{
left:32px
}
.snext{
background-image:url(/img/gif/gt3.gif);
right:32px;
}
#photo{
line-height:0;
margin-top:32px;
text-align:center;
}
#po_name{
font-size:16px;
text-align:center;
}
#photo_txt{
margin:0 0 14px;
}
#photo{
margin-bottom:21px;
}
.w721 p{
line-height: 28px;
padding-bottom: 14px;
}
#po_body .video{
width:721px;
height:589px;
outline:0;
}
#po_video_htm #po_name{
margin-bottom:14px;
margin-top:18px;
font-size:14px;
}
#po_audio_name #po_name{
font-size:28px;
}
#po_audio_name .audio{
margin-bottom:-4px;
margin-left:0;
margin-right:8px;
}

.poopt , .poopt a{
color:#999
}
.poopt a:hover{
color:#d10;
}
.poopt .split{
margin:0 10px;
}
.pnum{
margin-right:7px;
text-decoration: underline;
}
.pevent{
border-bottom: 1px dotted #ccc; 
text-align: center; 
padding-bottom: 16px; 
margin-bottom: 16px; 
margin-top: -16px;
}
.fav,.fav:hover,.faved,.faving{
vertical-align:0;
width:28px;
padding-right:20px;
line-height:15px;
background-position:32px -15px;
}
.fav:hover{
background-position:32px 1px;
}
.faved{
background-position:32px -31px;
}
.faved:hover{
background-position:32px -47px;
}

