#main h1{
    text-align:center;
    font-size:32px;
    margin:64px 0;
    font-family: "Trebuchet MS", sans-serif;
}
#main pre{
    width:721px;
    margin:auto;
}
#main pre p{
    line-height:28px;
    padding-bottom:14px;
}
