.note_page h1{
    text-align:center;
    font-size:32px;
    margin:48px 0;
    line-height:48px;
    font-family: "Trebuchet MS", sans-serif;
}
.note_page pre{
    width:721px;
    margin:auto;
}
.note_page pre p{
    line-height:28px;
    padding-bottom:14px;
}
