.com_side{
margin-top:0
}
.search, .com_wrap{
margin-top:32px;
}
.drop_follow_num{
color:#999;
font-family:monospace;
font-weight:normal;
margin-left:8px;
}
div.tag-dropdown ul li.tag-selected-dropdown-item{
color:#fff;
/*background:#f9f9ff;*/
background:#006;
}



.tag-delete-token{
    width:17px;
    background:url(/img/png/label.png) no-repeat -35px 0;
    display:inline-block;
    height:24px;
    vertical-align:-8px;
    cursor:pointer;
}
ul.tag-list {
    overflow: hidden;
    height: 28px !important;
    border: 1px solid #DDDDDD;
    cursor: text;
    min-height: 1px;
    z-index: 999;
    line-height: 28px;
    display:inline-block;
    margin: 0;
    padding: 2px 5px;
    vertical-align: top;
    font-size: 12px;
    width: 406px;
    color:#999;
    margin:0 0 1px 22px;
    background-color: #fff;
    list-style-type: none;
    clear: left;
    box-shadow:0 1px 0 #FFFFFF inset, 0 1px 0 rgba(150, 150, 255, 0.1);
}

ul.tag-list li input {
    border: 0;
    font-size:12px;
    line-height:24px;
    display:inline-block;
    height:24px;
    width: 100px;
    padding:0 8px;
    background-color: white;
    margin: 0;
    -webkit-appearance: caret;
}

li.tag-token {
    float:left;
    color:#000;
    background:#fff;
    display:inline-block;
    margin:2px 3px;
    cursor:default;
    line-height:23px;
    height:24px;
}

li.tag-token p {
    display:inline-block;
    margin: 0;
    line-height:21px;
    height:21px;
    border:1px solid #ececec;
    border-left:0;
    border-bottom:1px solid #D9D8DA;
    border-right:1px solid #ddd;
    padding:0 6px;
    font-size:12px;
}

li.tag-token span b{
    color: #a6b3cf;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.tag-selected-token p{
    background-color: #f3fcff;
    color:#d20;
}
li.tag-selected-token span{
    background-position:-70px ;
}

li.tag-input-token {
    float: left;
    margin: 3px;
    padding: 0;
    list-style-type: none;
}

div.tag-dropdown {
    font-size:12px;
    position: absolute;
    width:473px;
    border:1px solid #ddd;
    border-width:0 1px 1px;
    background-color: #fff;
    overflow: hidden;
    cursor: default;
    z-index: 1;
}
#tag-search{
height:auto;
height:26px\9;
padding:0;
color:#999;
font-size:13px;
}
div.tag-dropdown p {
    margin: 0;
    padding:0 3px;
    color: #777;
}

div.tag-dropdown ul {
    margin: 0;
    padding: 0;
}

div.tag-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

div.tag-dropdown ul li b{
    font-weight:bold;
}

div.tag-dropdown ul li.tag-dropdown-item {
    background-color: #fff;
}

div.tag-dropdown ul li.tag-dropdown-item2 {
    background-color: #fff;
}

div.tag-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.tag-dropdown ul li.tag-selected-dropdown-item {
    background-color: #3b5998;
    color: #fff;
}
div.tag-dropdown ul li.tag-selected-dropdown-item .drop_follow_num{
color:#e9e9e9;
}
.tag-dropdown-item, .tag-dropdown-item2{
border-top: 1px solid #EEEEEE;
color: #333333;
font-size: 12px;
padding: 0 10px;
line-height:22px;
}


.po_tagw:hover .po_tag_pic{
background:url(/img/png/label.png) no-repeat -17px 0;
}
.po_tagw:hover .po_tag_one{
background:#f3fcff;
color:#d20;
}

.tag_edit_btn{
display:inline-block;
height:24px;
line-height:24px;
margin:0;
padding:4px 14px;
border:1px solid #e0e0e0;
border-width:1px 1px 1px 0;
vertical-align:0;
background:-moz-linear-gradient(center top , #FCFCFF, #F6F6FF) repeat;
box-shadow:0 1px 0 #FFFFFF inset, 0 1px 0 rgba(150, 150, 255, 0.1);
color:#666666 !important;
text-shadow:0 1px 0 #FFF;
font-size:14px;
background:#fff\9;
filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#f3f3f3');
background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f3f3f3));
}
.tag_edit_btn:active{
box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
.tag_list_edit_a{
font-size:12px;
}
.po_tag_list{
margin-left:12px;
line-height:29px;
overflow:hidden;
}
.ml0{
margin-left:0;
}
.po_tag_pic{
background:url(/img/png/label.png) no-repeat 0 0;
cursor:pointer;
display:inline-block;
height:23px;
vertical-align:-7px;
width:17px;
}
.po_tag_one{
display:inline-block;
margin: 0;
line-height:21px;
height:21px;
border:1px solid #ececec;
border-left:0;
border-bottom:1px solid #D9D8DA;
border-right:1px solid #ddd;
padding:0 6px 0 2px;
margin-right:6px;
font-size:12px;
background:#fcfdfd;
}
.main_nav .po_tag_one_on{
background:#fcfdfd;
color:#d20;
}
.main_nav .po_tag_one:hover{
color:#d20;
}
.po_tag_pic_on{
background:url(/img/png/label.png) no-repeat -17px 0;
}
.tag_list_edit_a{
margin-left:10px;
}
.main_nav .tag_list_edit_a:hover{
color:#d20;
}
.tag_list_add_a{
margin-left:0px;
}
.main_nav_txt_fix{
line-height:30px
}
.txt_title_a{
color:#000;
}
.tag_list_add_a{font-size:14px}
