
.search_tags{
padding-top:16px;
border-top:1px solid #eee;
margin-left:-12px;
}
.search_tags a{
color:#999;
}
.po_tagw{
margin:0 0 8px 12px;
}
.hero_search_a{
padding-left:21px;
background:url(/img/gif/adot.gif) no-repeat -1px 2px; 
color:#666;
}
.Zs{
margin-top:87px;
}
.hero_block{
padding:10px 26px;
}
