.po_tag{
width:470px;margin:auto;
}
.po_tag .zsite_ol{
margin-left:3px;
margin-top:32px;
}
.page{
margin-top:32px;
}
.po_tag h1{
border-bottom:1px dotted #ccc;
text-align:center;padding:14px;font-size:14px;margin-top:0;
}
.zsite_word{
border-bottom:1px dotted #ccc;
margin-bottom:16px;
padding:16px 0
}
.event_nav_a a{
margin: 0 16px;
}


