#nav2{
border:1px dotted #ccc;
border-top:0;
border-right:0;
float: left;
font-size: 14px;
position:absolute;
z-index:2;
overflow:visible;
}
.nav2drop{
display:none;
position: absolute;
background:#fff;
margin:-2px 0 0 50px;
border: 1px dotted #ccc;
border-bottom:0;
*margin-top:34px;
width: 69px;
z-index:3;
*margin-left:-65px;
}
.nav2drop a{
border-bottom: 1px dotted #ccc;
color:#999;
display: inline-block;
text-align:center;
height:32px;
line-height:32px;
width:69px;
}
.nav2drop a:hover{
background-color:#F9F9F9;
color:#444;
}
.nav_a{
padding:6px 14px;
color:#999;
border-right: 1px dotted #ccc;
vertical-align: -1px;
*padding-bottom:12px;
*vertical-align:-5px;
}
.nav_a:hover{
color:#000;
}

.zsite_title{
text-align:center;
font-size:16px;
margin:48px 0;
}
.zsite_career{
margin-top:-6px;
text-align:right;
padding-bottom:34px
}
.zsite_item{
padding-bottom:27px
}
.zsite_txt{
margin:0 auto;
padding-bottom:48px;
float:none;
_float:left;
}
.zsite_pic{
margin:auto;
float:none;
line-height:32px;
_float:right;
}
.zsite_pic img{
padding-bottom:32px
}
.zsite_txt img{
float:left;
margin-right:27px
}
.qgif{
background:url(/img/gif/q.gif) no-repeat;
float:left;
height:20px;
width:26px;
}
.zsite_txt_div{
float:left;
width:512px;
margin-top:14px;
padding-bottom:20px;
padding-right:40px;
padding-left:20px;
background:url(/img/gif/rq.gif) no-repeat 100% 100%;
}
.zsite_link{
display:block;
clear:both;
background:#fff;
border:1px dotted #ccc;
font-size:16px;
text-align:center;
color:#999;
padding:8px;
margin-bottom:32px
}
.zsite_link a{
text-align:center;
font-size:14px;
padding:14px;
margin:14px;
}
.zsite_link{
padding:14px 0;
}
.zsite_block{
width:470px;
border-bottom:1px dotted #ccc;
margin:auto;
padding:16px 0 32px;
}
.zsite_word{
font-size:14px;line-height:32px
}
.zsite_reply{
height:16px;
width:20px;
background:url(/img/gif/reply2.gif) no-repeat;
display:inline-block;
margin-left:8px;
vertical-align:-3px;
}
.zsite_block .num:hover b{
color:#000;
border-bottom:1px solid #000;
}
.zsite_block .num:hover span{
background:#000
}
.zsite_block .num b{
font-weight:normal;
}
.zsite_block .num{
color:#666;
font-size: 14px;
}
.zsite_block .num span{
margin:0 7px 0 0;
text-align: right;
background:#666;
color:#fff;padding:7px 9px;
}
.zsite_num_div{
margin-top: 32px; margin-bottom: 16px; 
}
.zsite_num_tag{
margin-top:25px;
}
.zsite_block_tag{
margin-top:-7px;
margin-left:-7px;
}
.zsite_block_tag a{
display:inline-block;
border-bottom:1px dotted #ccc;
margin:7px;
color:#000;
}
.zsite_block_tag a:hover{
border-bottom:1px dotted #000;
color:#d20;
}
.zsite_ol li{
margin-top:22px;
}
.zsite_ol li a{
margin-left:3px
}
.zsite_ol ol{
    color: #666;
    list-style-position: inside;
    list-style-type: square;
}
.zsite_ol a, .zsite_ico a{
color:#000;
}
.zsite_ol a:hover , .zsite_ico a:hover{
text-decoration:underline
}
.mr3{
margin-right:3px;
}
.num_normal{
color:#666;
}
.num_normal:hover{
text-decoration:underline;
color:#000;
}
.num_normal span{
margin-right:3px;
}
.zsite_foot a{
display:block;
border-top:1px dotted #ccc;padding:32px;text-align:center;
font-size:23px;font-family:Trebuchet MS;color:#666;
}
.zsite_foot a:hover{
color:#d10;
}
.zsite_foot{
padding-top:48px;
}
.zsite_ico_div{
margin-top:-16px;
*margin-top:0;
padding-bottom:16px;
}
.zsite_ico{
line-height:32px;
padding-bottom:32px;
border-bottom:1px dotted #ccc;
margin-top:32px;
_height:96px;
}
.zsite_ico img{
float:left;
margin-right:32px
}
.zsite_follow{
border-bottom:0;
}
.zsite_list a{
color:#000;
} 
.hero_line img{
line-height:0
}
.hero_line{
margin-top:48px
}
.i_nav a:hover{
color:#01f;
}
.i_nav a{
margin:0 16px;
color:#999;
}
.i_nav{
text-align:right;
font-size:16px;
text-align:center;
border-bottom:1px dotted #ccc;
padding-bottom:16px;
margin-top:16px;
}
.i_nav .now{
color:#000;
}

.zsite_block .zsite_ol{
margin-left:1px
}
.qaword_title{
margin-bottom:14px;
}
.qaword_title a{
color:#000;
border-bottom:1px dotted #999;
padding-bottom:4px;
}
.qaword_title a:hover{
text-decoration:none;
color:#d10;
border-bottom-color:#d10;
}
.video{
display:block;
background:url(/img/gif/loading_bar.gif) 50% 50% no-repeat;
}
.sdw .video{
width:677px;
height:553px;
}
.fdbarload{
background:url(/img/gif/loading_bar.gif) no-repeat 0 14px; 
height:24px;
padding-top:7px;
border-top:1px solid #eee;
}
.fdbar{
border-top:1px solid #eee;
text-align:right;
color:#999;
padding:7px 0 0;
}
.fdbar a:hover{
color:#d10;
}
.fdbar a{
color:#999;
}
.fdbar .reply{
margin-left:21px;
}
.fdh_close{
width:16px;
height:16px;
padding:4px;
background:url(/img/gif/icons/gif/light_gray/to_size/close.gif) no-repeat 50% 50%;
}
.fdh .fdh_close{
padding-top:7px;
}
.fdh_close:hover{
background:url(/img/gif/icons/gif/black/to_size/close.gif) no-repeat 50% 50%;
}
.fdtxt{
margin-bottom:10px;
margin-top:-6px;
}
.fav:hover , .faving,  .faved{
padding-right:17px;
background:url(/img/gif/icons/gif/orange/to_size/check.gif) no-repeat 100% 5px;
}
.faved{
color:#000;
background-image:url(/img/gif/icons/gif/black/to_size/check.gif);
}
.faving{
background:url(/img/gif/loading12.gif) no-repeat 100% 1px;
}
.share_sync{
float:right;
font-size:16px;
}
.share_sync:visited{
color:#999;
}

.h1nav .nav a{
color:#999
}
.h1nav .nav .c0{
color:#000
}
.h1nav .nav a:hover{
color:#d10
}
.h1nav .nav .split{
margin:0 12px;
}
.h1nav{
margin: auto;
text-align:left;
border-bottom:1px dotted #ccc;
font-size:14px;
padding:16px 0;
*margin:0 auto;
}
.inft3{
margin-bottom:8px;
}
.inft4{
border-bottom:1px dotted #999;
}
.dot_split{
margin:0 8px;
}
.other_pros{
margin-bottom:7px;
}
.other_pros .aH{
background-image:url(/img/gif/icons/gif/light_gray/to_size/arrow1_ne.gif);
}
.other_pros .aH:hover{
background-image:url(/img/gif/icons/gif/red/to_size/arrow1_ne.gif);
}
#fancybox-content .other_login_reg_a{
display:block;
float:left;
line-height:20px;
width:60px;
margin:0 0 12px 39px;
font-size:14px;
}
#fancybox-content .other_login{
margin-left:-40px;
overflow:auto;
}
#fancybox-content .other_login_img{
margin-right:8px;
vertical-align:-3px;
}
#fancybox-content .other_hint{
padding:14px 0;
font-size:14px;
color:#444;
text-align:center;
border:dotted #ccc;
border-width:1px 0;
margin:16px 0 14px;
line-height:14px;
}
.buzz_h1{
    border: 0pt none; text-align: left; font-size: 14px; background: url(/img/gif/adot.gif) no-repeat scroll -4px 7px transparent;padding-left:16px;color:#000;
}
.buzz_win
{
    padding:6px 0 6px 0;
}
.buzz_w
{
    line-height: 22px;
    /*border-bottom: 1px dotted #CCC;*/
    padding-bottom: 6px;
    padding-left: 17px;
    background: url(/img/png/list_style_disc.png) no-repeat 4px 0;
}
.buzz_win a
{
    color:#004276;
}
.buzz_win a:hover
{
    color:#d20;
}
.buzz_au, .buzz_au a{
    color:#999
}
.buzz_au a:hover{
    color:#d20;
}
