#T{
    text-align:center;
    padding:7px;
    background:#000;
    color:#fff;
    font-size:14px;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.5);
    background-image:-webkit-gradient(linear,0 0, 0 0,from(#333), to(#000));
    background-image:-moz-linear-gradient(center top, #333, #000) ;
    margin-bottom:3px;
}
#T a{
    color: #ffe000;
}
#H{
    font-size:16px;
    border-bottom:1px dotted #ccc;
    padding:18px 0 22px;
    margin-bottom:0;
    text-align:center;
}
#H .H{
    width: 972px;
    margin: auto;
    text-align: left;
}
#H a{
    color:#999;
    text-decoration:none;
    color:#444;
}
#H .site:hover{
    text-decoration:underline
}
#H .site{
    font-size: 24px;
    font-family: Trebuchet MS;
    color: #a10;
}
#H .D a:hover{
    text-decoration:none;
    background:#f9f9f9;
    color:#444;
}
#H .D a{
    display:block;
    color:#999;
    width:60px;
    text-align:center;
    border-bottom:1px dotted #eee;
    padding:7px 0;
    background:#fff;
}
#H .DA{
    margin-left: 32px;
    color:#999;
}
#H .DA:hover{
color:#000;
}
#H .D{
    padding-bottom:1px;
    position:absolute;
    margin-top:7px;
    border:1px solid #eee;
    background:#fafafa; 
    z-index:9; 
}
#DBLK{
margin-left:86px
}
#DMORE{
margin-left:224px
}
#DPO{
margin-left:17px
}
.DA span{
line-height:12px;background:#a10;
position:absolute;
color:#fff;margin-left:3px;
font-size:10px;padding:3px 6px;margin-top: -4px;
font-family:Tahoma,Geneva,sans-serif;;
}




